/**
 *
 * sass/_partials/form.scss
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Standard
   ========================================================================== */

form {
    @extend %form;




/* ==========================================================================
   Custom
   ========================================================================== */

    &.form {

    }
}




.form {
    &__group {
        &--input-addon {
            display: flex;
        }
    }
}
