/**
 *
 * sass/_partials/input.scss
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Standard
   ========================================================================== */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetim-elocal"],
input[type="month"],
input[type="number"],
input[type="week"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
    @extend %input-text;




/* ==========================================================================
   Custom
   ========================================================================== */

    &.input {
        &--flex {
            @extend %input-text--flex;
        }

        &--prefix {
            @extend %input-text--prefix;
        }

        &--suffix {
            @extend %input-text--suffix;
        }

        &--alternative {
            background-color: palette(white);
            color: #333;
        }

        &--search {
            margin-bottom: 3em;
        }
    }
}




/* ==========================================================================
   Standard
   ========================================================================== */

input[type="radio"],
input[type="checkbox"],
input[type="file"] {
    @extend %input-other;




/* ==========================================================================
   Custom
   ========================================================================== */

}
