/**
 *
 * sass/_partials/label.scss
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Standard
   ========================================================================== */

label {
    @extend %label;




/* ==========================================================================
   Custom
   ========================================================================== */

    &.label {

    }
}




/* ==========================================================================
   Standard
   ========================================================================== */

input[type="radio"] + label,
input[type="checkbox"] + label {
    @extend %label--inline;




/* ==========================================================================
   Custom
   ========================================================================== */

    &.label {

    }
}
