/**
 *
 * sass/_partials/select.scss
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Standard
   ========================================================================== */

select {
    @extend %select;




/* ==========================================================================
   Custom
   ========================================================================== */

    &.select {
        &--prefix {
            @extend %select--prefix;
        }

        &--suffix {
            @extend %select--suffix;
        }
    }
}
