/**
 *
 * sass/modules/utilities/_mixins.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */

@mixin get-defaults($map, $element, $state: 'base'){

    $map: map-get(map-get($map, $element), $state);

    @each $property, $value in $map {
        @if type-of($value) != map {
            #{$property}: $value;
        }
    }
}
