/**
 *
 * sass/modules/_button.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Import globals
   ========================================================================== */

@import 'global';




/* ==========================================================================
   Set defaults
   ========================================================================== */

$defaults:(
    button: (
        base: (
            position: relative,
            display: inline-block,
            padding: 0.75rem 1rem,
            margin: 0 0 1rem,
            cursor: pointer,
            border-style: solid,
            border-width: 1px,
            border-radius: if(global(radius), 9999px, none),
            color: palette(grey, dark),
            font-size: $base-font-size,
            font-weight: map-get($weight, semi-bold),
            text-transform: uppercase,
            line-height: 1.3,
            text-decoration: none,
            text-align: center,
            height: 45px,
            outline: none,
            //transition: (background-color 0.25s ease-out, border-color 0.25s ease-out),
        ),
        hover: (),
        disabled: (
            cursor: not-allowed,
            opacity: 0.6,
        ),
        focus: (
            outline: none
        ),
    ),
);




/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin button {

/* Defaults
   ========================================================================== */

    @include get-defaults($defaults, button);

/* Customisations
   ========================================================================== */

    background-color: palette(grey, light);
    border-color: palette(grey, mid-light);
    color: palette(grey, dark);

/* States
   ========================================================================== */

    &:hover {
        @include get-defaults($defaults, button, hover);
        background-color: darken(palette(grey, light), 5%);
        border-color: darken(palette(grey, mid-light), 5%);
    }

    &[disabled] {
        @include get-defaults($defaults, button, disabled);
    }

    @media screen and (min-width: 750px) {
        height: 60px;
        padding: 0.75rem 4rem;
        font-size: 21px;
        line-height: 1.7;
    }
}




/* ==========================================================================
   Placeholders
   ========================================================================== */

%button {
    @include button;

    &--full-width {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    &--rounded {
        border-radius: 1000px;
    }

    &--prefix {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 0.5rem 1rem;
    }

    &--suffix {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0.5rem 1rem;
    }

    &--black-nude {
        background-color: transparent;
        border-color: palette(grey, dark);
        color: palette(grey, dark);

        &:hover {
            background-color: palette(grey, dark);
            color: palette(white);
        }
    }

    &--white-nude {
        background-color: transparent;
        border-color: palette(white);
        color: palette(white);

        &:hover {
            background-color: palette(white);
            color: palette(grey, dark);
        }
    }







    &--color-nude {
        background-color: transparent;
        border-color: palette(grey, dark);
        color: inherit;

        &:hover {
            color: inherit;
        }
    }

    &--primary {
        background-color: palette(red);
        border-color: palette(red);
        color: palette(white);

        &:hover {
            background-color: palette(grey, dark);
            border-color: palette(grey, dark);
            color: palette(white);
        }


        &:active {
            color: palette(white);
        }

        &:visited {
            color: palette(white);
        }
    }

    &--success {
        background-color: palette(green);
        border-color: palette(green);
        color: palette(white);

        &:hover {
            background-color: darken(palette(green), 5%);
            border-color: darken(palette(green), 5%);
            color: palette(white);
        }
    }

    &--alert {
        background-color: palette(red);
        border-color: palette(red);
        color: palette(white);

        &:hover {
            background-color: darken(palette(red), 5%);
            border-color: darken(palette(red), 5%);
            color: palette(white);
        }
    }
}
