/**
 *
 * sass/modules/_colors.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Color palette
   ========================================================================== */

$palettes: (

/* Colors
   ========================================================================== */

    blue: (
        base:     rgb(0, 173, 255),
        mid-dark: darken(rgb(0, 173, 255), 10%)
    ),

    red: (
        base: rgb(208, 38, 49)
    ),

    green: (
        base: rgb(114, 195, 125)
    ),

    white: (
        base: rgb(255, 255, 255)
    ),

    brown: (
        base: rgb(194, 181, 155)
    ),

/* Greys
   ========================================================================== */

    grey: (
        x-light:   rgb(249, 249, 249),
        light:     rgb(241, 241, 241),
        mid-light: rgb(200, 200, 200),
        base:      rgb(150, 150, 150),
        mid-dark:  rgb(64, 64, 64),
        dark:      rgb(40, 40, 40),
        x-dark:    rgb(20, 20, 20)
    ),

/* Transparents
   ========================================================================== */

    transparent-grey: (
        base:      rgba(150, 150, 150, 0.9),
        mid-dark:  rgba(64, 64, 64, 0.9),
        dark:      rgba(40, 40, 40, 0.95),
        x-dark:    rgba(20, 20, 20, 0.9)
    ),

/* Moods
   ========================================================================== */

    mood: (
        quiet: rgb(100, 100, 100),
        loud:  rgb(0, 0, 0)
    ),

/* Third-party
   ========================================================================== */

    third-party: (
        facebook: rgb(59, 89, 152),
        twitter:  rgb(0, 172, 237),
        linkedin: rgb(0, 123, 182),
        googleplus: rgb(221, 75, 57),
        youtube: rgb(187, 0, 0)
    )
);
