/**
 *
 * sass/modules/_flexbox.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */ 




/* ==========================================================================
   Flexbox
   ========================================================================== */

@mixin flexbox($flow: row wrap) {
    .mod-flexbox & {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: $flow;
        flex-flow: $flow;
    }
}

/* Block
   ========================================================================== */

%flexbox {
    @include flexbox;
}




/* ==========================================================================
   Flex - Shorthand
   ========================================================================== */  

@mixin flex($values: 1) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex: $values;
}

/* Block
   ========================================================================== */

%flex {
    @include flex;
}




/* ==========================================================================
   Flex - Align Items 
   ========================================================================== */ 

@mixin flex-align-items($value: flex-start) {
    -ms-flex-align: $value;
    -webkit-align-items: $value;
    align-items: $value;
}

/* Block
   ========================================================================== */

%flex-align-items {
    @include flex-align-items;
}