@function global($property) {
    @return map-get($global, $property);
}

$global: (
    box-shadow: false,
    radius: true
);


/* ==========================================================================
   Global Layout Spacing
   ========================================================================== */

$mobile-spacing: (
    top: 1em,
    bottom: 1em
);

$mobile-internal-spacing: (
    top: 0.5em,
    bottom: 0.5em
);


$spacing: (
    top: 2em,
    bottom: 2em
);

$internal-spacing: (
    top: 1em,
    bottom: 1em
);
