/**
 *
 * sass/modules/_table.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Import globals
   ========================================================================== */

@import 'global';




/* ==========================================================================
   Set defaults
   ========================================================================== */

$defaults:(
    table: (
        base: (
            width: 100%,
        ),
    ),
    table__head: (
        base: (
            border-bottom: 2px solid palette(grey, mid-light),
        ),
    ),
    table__body: (
        base: (
            border: none
        ),
    ),
    table__row: (
        base: (
            background-color: palette(white),
        ),
    ),
    table__header: (
        base: (
            padding: 1rem,
            font-weight: 300,
            background-color: palette(white)
        ),
    ),
    table__data: (
        base: (
            padding: 1rem,
            color: palette(grey, mid-dark)
        ),
    ),
    table-wrap: (
        base: (
            border-radius: if(global(radius), 5px, 0),
            overflow: hidden,
        ),
    ),
);




/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin table {
    @include get-defaults($defaults, table);
}

@mixin table__head {
    @include get-defaults($defaults, table__head);
}

@mixin table__body {
    @include get-defaults($defaults, table__body);
}

@mixin table__row {
    @include get-defaults($defaults, table__row);
}

@mixin table__header {
    @include get-defaults($defaults, table__header);
}

@mixin table__data {
    @include get-defaults($defaults, table__data);
}

@mixin table-wrap {
    @include get-defaults($defaults, table-wrap);
}



/* ==========================================================================
   Placeholders
   ========================================================================== */

%table {
    @include table;
}

%table__head {
    @include table__head;
}

%table__body {
    @include table__body;
}

%table__row {
    @include table__row;

    &--odd {
        background-color: palette(grey, x-light);
    }

    &--even {
        background-color: palette(grey, light);
    }
}

%table__header {
    @include table__header;

    &--align-right {
        text-align: right;
    }

    &--align-center {
        text-align: center;
    }
}

%table__data {
    @include table__data;

    &--align-right {
        text-align: right;
    }

    &--align-center {
        text-align: center;
    }
}

%table-wrap {
    @include table-wrap;
}
