/**
 *
 * sass/modules/_typography.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Base font
   ========================================================================== */

%base-font {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
    line-height: $base-font-line-height;
}

%heading-font {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    text-align: center;
    text-transform: uppercase;
}

%fixed-font {
    font-family: $fixed-font-family;
    font-size: $fixed-font-size;
    line-height: $fixed-line-height;
}




/* ==========================================================================
   Headings
   ========================================================================== */

%h1 {
    @extend %heading-font;
    line-height: 1.1;
    font-size: 200%;

    @media screen and (min-width: 450px) {
        font-size: 300%;
    }

    @media screen and (min-width: 750px) {
        font-size: 400%;
    }
}

%h2 {
    @extend %heading-font;
    line-height: 1.1;
    font-size: 160%;

    @media screen and (min-width: 450px) {
        font-size: 240%;
    }

    @media screen and (min-width: 750px) {
        font-size: 320%;
    }
}

%h3 {
    @extend %heading-font;
    line-height: 1.3;
    font-size: 130%;

    @media screen and (min-width: 450px) {
        font-size: 195%;
    }

    @media screen and (min-width: 750px) {
        font-size: 260%;
    }
}

%h4 {
    @extend %heading-font;
    line-height: 1.3;
    font-size: 100%;

    @media screen and (min-width: 450px) {
        font-size: 150%;
    }

    @media screen and (min-width: 750px) {
        font-size: 200%;
    }

}

%h5 {
    @extend %heading-font;
    font-size: 90%;

    @media screen and (min-width: 450px) {
        font-size: 135%;
    }

    @media screen and (min-width: 750px) {
        font-size: 180%;
    }
}

%h6 {
    @extend %heading-font;
    font-size: 80%;

    @media screen and (min-width: 450px) {
        font-size: 120%;
    }

    @media screen and (min-width: 750px) {
        font-size: 160%;
    }
}


/* ==========================================================================
   Sub headings
   ========================================================================== */


%proposition {
    font-size: 16px;

    @media screen and (min-width: 450px) {
        font-size: 24px;
    }

    @media screen and (min-width: 750px) {
        font-size: 32px;
    }
}

%intro {
    font-size: 16px;

    @media screen and (min-width: 450px) {
        font-size: 21px;
        line-height: 1.6;
    }

    @media screen and (min-width: 750px) {
        font-size: 26px;
        line-height: 1.7;
    }
}


/* ==========================================================================
   Text styles
   ========================================================================== */

%quiet { font-color: palette(mood, quiet); }

%loud { font-color: palette(mood, loud); }

%italic { font-style: italic; }

%bold {
    @extend %loud;
    font-weight: map-get($weight, bold);
}




/* ==========================================================================
   Other elements
   ========================================================================== */

%block-margins { margin: 0.5em 0; }

%list {
    font-size: 16px;
    line-height: 1.4;

    @media screen and (min-width: 450px) {
        font-size: 18px;
        line-height: 1.6;
    }

    @media screen and (min-width: 750px) {
        font-size: 21px;
        line-height: 1.8;
    }
}


%unordered-list {
    @extend %list;
    list-style-type: disc;
    margin: 1em 0 1em 1.3em;
}

%ordered-list {
    @extend %list;
    list-style: decimal;
    margin: 1em 0 1em 1.3em;
}

%paragraph {
    @extend %block-margins;
    font-size: 16px;
    line-height: 1.4;

    @media screen and (min-width: 450px) {
        font-size: 18px;
        line-height: 1.6;
    }

    @media screen and (min-width: 750px) {
        font-size: 21px;
        line-height: 1.8;
    }
}

%link {
    color: palette(red);
    font-weight: map-get($weight, bold);
    text-decoration: none;

    &:hover {
        color: darken(palette(red), 10%);
    }
}
