/**
 *
 * sass/partials/_base.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Gem - Susy
   ========================================================================== */

@import "susy";

/* Susy configuration
   ========================================================================== */

$susy: (
    columns: 12,
    gutters: .25,
    container: 1140px,
    debug: (
        image: hide,
        overlay: image
    ),
);





/* ==========================================================================
   Typography base
   ========================================================================== */

/* Font weight
   ========================================================================== */

$weight: (
    light: 300,
    regular: 400,
    semi-bold: 600,
    bold: 700
);

/* Base font
   ========================================================================== */

$base-font-family: 'Open Sans', Helvetica, sans-serif;
$base-font-weight: map-get($weight, regular);
$base-font-size: 16px;
$base-font-line-height: 1.4;

/* Fixed font
   ========================================================================== */

$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-font-line-height;

/* Heading font
   ========================================================================== */

$heading-font-family: 'Open Sans', Helvetica, sans-serif;
$heading-font-weight: map-get($weight, bold);




/* ==========================================================================
   Import all modules
   ========================================================================== */

@import "../modules/all";
