/**
 *
 * sass/_partials/button.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Standard
   ========================================================================== */

a.button,
button,
input[type="submit"],
input[type="button"] {
    @extend %button;

    // Font awesome override
    .fa {
        font-size: 1rem;
    }

/* ==========================================================================
   Custom
   ========================================================================== */

    &.button {

        &--full-width {
            @extend %button--full-width;
        }

        &--rounded {
            @extend %button--rounded;
        }

        &--prefix {
            @extend %button--prefix;
        }

        &--suffix {
            @extend %button--suffix;
        }

        &--primary {
            @extend %button--primary;
        }

        &--success {
            @extend %button--success;
        }

        &--alert {
            @extend %button--alert;
        }

        &--black-nude {
            @extend %button--black-nude;
        }

        &--white-nude {
            @extend %button--white-nude;
        }

        &--color-nude {
            @extend %button--color-nude;
        }
    }
}
