/**
 *
 * sass/partials/_footer.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Global - Footer
   ========================================================================== */





/* Comment form
   ========================================================================== */
    .comment {
        &__label {
            @extend %paragraph;
            text-align: left;
            color: palette(white);
        }

        &__heading {
            @extend %h2;
            margin-top: 0;
            color: palette(white);

            @media screen and (min-width: 770px) {
                text-align: left;
            }
        }


        &__textarea {
            resize: none;
            height: 100px;

            @media screen and (min-width: 460px) {
                height: 150px;
            }
        }
    }





/* Footer
   ========================================================================== */

    .footer {
        &__block {
            border-bottom: 1px solid rgb(102, 102, 102);
        }

        &__heading {
            margin-top: 0;
            color: palette(white);
            font-weight: map-get($weight, light);
            /* Faux heading styles.. */
            line-height: 1.3;
            font-size: 130%;
            font-family: "Open Sans",Helvetica,sans-serif;
            text-transform: uppercase;
            text-align: center;

            @media screen and (min-width: 460px) {
                text-align: right;
            }

            @media screen and (min-width: 750px) {
                /* Faux heading styles.. */
                font-size: 200%;
            }

            &--second-line {
                white-space: nowrap;
            }
        }

        &__contact-block {
            border-bottom: 1px solid palette(grey);
            padding-bottom: map-get($mobile-spacing,bottom);
            padding-left: gutters();
            padding-right: gutters();

            @media screen and (min-width: 460px) {
                border-bottom: none;
                padding-bottom: map-get($spacing,bottom);
                padding-right: (gutters() * 2);
                padding-left: 0;
            }

            @media screen and (min-width: 1140px) {
                padding-right: 0;
            }
        }

        &__copyright-block {
            @media screen and (min-width: 460px) {
                border-top: 1px solid palette(grey);
                min-height: 60px;
            }
        }

        &__contact {
            margin: 0 0 30px;
            padding: 0;
            list-style: none;
            text-align: center;

            @media screen and (min-width: 460px) {
                margin: 0;
                text-align: right;
            }
        }

        &__contact-item {
            margin: 20px 0;

            @media screen and (min-width: 460px) {
                margin: 0 0 20px;
            }
        }

        &__contact-link {
            color: palette(white);
            text-decoration: none;
            font-size: 18px;
            font-weight: map-get($weight, bold);
            text-transform: uppercase;

            @media screen and (min-width: 750px) {
                font-size: 36px;
            }

            &:hover {
                color: palette(grey, mid-light);
            }

            &--email {
                font-size: 12px;

                @media screen and (min-width: 750px) {
                    font-size: 21px;
                }
            }
        }

        &__social-media {
            color: palette(white);
            text-align: center;

            @media screen and (min-width: 460px) {
                text-align: right;
            }

            @media screen and (min-width: 750px) {
                font-size: 30px;
            }
        }

        &__social-link {
            &:link,
            &:hover,
            &:visited,
            &:active {
                color: palette(white);
                text-decoration: none;
            }

            &--facebook {
                &:hover {
                    color: palette(third-party, facebook);
                }
            }

            &--twitter {
                &:hover {
                    color: palette(third-party, twitter);
                }
            }

            &--linkedin {
                &:hover {
                    color: palette(third-party, linkedin);
                }
            }

            &--googleplus {
                &:hover {
                    color: palette(third-party, googleplus);
                }
            }

            &--youtube {
                &:hover {
                    color: palette(third-party, youtube);
                }
            }
        }

        &__logo {
            width: 130px;
            margin-top: 18px;
        }

        &__address {
            padding: 10px 0;
            text-align: right;
            font-size: 10px;
            color: palette(white);
        }

        &__postcode {
            white-space: nowrap;
        }
    }
