/**
 *
 * sass/partials/_header.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Global - Header
   ========================================================================== */

    .skybar {
        position: absolute;
        width: 100%;
        height: 44px;
        z-index: 2;
        background-color: palette(transparent-grey, dark);

        @media screen and (min-width: 750px) {
            height: 60px;
        }

        &--alternative {
            background-color: transparent;
            border-bottom: 1px solid palette(grey);
        }

        &--sticky {
            position: fixed;
            top: 0;
            z-index: 99;

            .admin-bar & {
                top: 46px;

                @media screen and (min-width: 782px) {
                    top: 32px;
                }
            }
        }


        &__link {}

        &__logo {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 130px;

            @media screen and (min-width: 750px) {
                top: 18px;
                left: 15px;
            }
        }

        &__nav-toggle {
            position: absolute;
            top: 7px;
            right: 10px;
            color: palette(white);
            cursor: pointer;

            @media screen and (min-width: 750px) {
                top: 15px;
                right: 15px;
            }

            @media screen and (min-width: 840px) {
                display: none;
            }
        }
    }

    .hero {
        width: 100%;
        text-align: center;

        &--alternative {
            background-color: palette(grey, dark);
            color: palette(white);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &--none {
            height: 44px;
            padding: 0;

            @media screen and (min-width: 750px) {
                height: 60px;
            }
        }

        &__logo {
            display: block;
            margin: 0 auto;
            width: 40%;
            max-width: 300px;
        }

        &__strapline {
            color: inherit;
            margin-bottom: 0;
        }

        &__proposition {
            @extend %proposition;
            color: palette(grey);
            font-weight: map-get($weight, light);

            &--alternative {
                color: palette(grey, light);
            }
        }

        &__category {
            a {
                @extend %paragraph;
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
            }
        }

        &__button {
            @extend %button;
            @extend %button--full-width;
            margin-top: 1rem;

            @media screen and (min-width: 460px) {
                @include span(6);
                @include pre(3);
                @include post(3);
            }

            @media screen and (min-width: 900px) {
                @include span(4);
                @include pre(4);
                @include post(4);
            }

            &--light {
                @extend %button--white-nude;
            }

            &--dark {
                @extend %button--black-nude;
            }
        }

        &__contact-details {
            margin: 0;

            @media screen and (min-width: 560px) {
                margin: 1rem 0;
            }
        }

        &__contact-item {
            display: block;
            margin: 0.5rem 0;
            font-size: 1.5rem;

            @media screen and (min-width: 560px) {
                font-size: 2rem;
                margin: 0 1rem;
            }
        }

        &__contact-link {
            &:link,
            &:visited,
            &:active,
            &:hover {
                color: palette(grey, dark);
            }

            &--alternative {
                &:link,
                &:visited,
                &:active,
                &:hover {
                    color: palette(white);    
                }
            }
        }

        &__arrow {
            display: inline-block;
            margin-top: 1em;

            @media screen and (min-width: 460px) {
                margin-top: 2em;
            }

            @media screen and (min-width: 750px) {
                margin-top: 3em;
            }
        }
    }

    .statistics {
        border-style: solid;
        border-width: 1px 0 1px;
        border-color: palette(grey, mid-light);

        &__stat {
            @extend %h4;
        }

        &__description {

        }
    }
