/**
 *
 * sass/partials/_helpers.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Clearfix
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

hr {
    height: 0;
    margin: 1.5rem 0;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: palette(grey, mid-light);
}
