/**
 *
 * sass/_partials/layout.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   General
   ========================================================================== */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    min-width: 320px;
}

.container {
    @include container;
}

/* ==========================================================================
   Flexbox
   ========================================================================== */

.flex {
    &__hero {
        min-height: 100vh;
        padding-left: gutters();
        padding-right: gutters();
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding-top: calc( 44px + 1rem );
        padding-bottom: 1rem;

        &--partial {
            min-height: 85vh;
        }

        @media screen and (min-width: 460px) {
            padding-top: calc( 60px + 2rem );
            padding-bottom: 2rem;
        }

        // Firefox Pre v28 - Flexbox fix
        .no-flexbox & {
            display: table;
            width: 100%;
        }

        // IE Flexbox min-height bug fix ;(
        .ie & {
            min-height: 0;

            @media screen and (min-width: 460px) {
                padding-bottom: 3rem;
            }
        }
    }

    &__services {
        min-height: 100vh;
        height: 100%;
        padding: 1rem 0;
        display: flex;
        flex-flow: column;
        justify-content: center;

        @media screen and (min-width: 460px) {
            padding: 3rem 0;
        }

        // Firefox Pre v28 - Flexbox fix
        .no-flexbox & {
            display: table;
            width: 100%;
        }

        // IE Flexbox min-height bug fix ;(
        .ie & {
            min-height: 0;
        }
    }

    &__services-header {
        flex: auto;
        display: flex;
        justify-content: flex-end;
        flex-flow: column;

        // Firefox Pre v28 - Flexbox fix
        .no-flexbox & {
            display: block;
        }
    }

    &__services-content {
        flex: auto;
        display: flex;
        align-items: center;

        // Firefox Pre v28 - Flexbox fix
        .no-flexbox & {
            display: block;
        }
    }

    &__services-button {
        flex: auto;
    }

    &__contact {
        display: flex;
        flex-flow: column;

        @media screen and (min-width: 560px) {
            flex-flow: row;
        }
    }

    &__mobile-order-1 {
        order: 1;

        @media screen and (min-width: 560px) {
            order: 2;
        }
    }

    &__mobile-order-2 {
        order: 2;

        @media screen and (min-width: 560px) {
            order: 1;
        }
    }

    &__mobile-order-3 {
        order: 3;
    }

    &__client-list {
        display: flex;
        align-items: center;
        flex-flow: column;
        flex-direction: column;

        @media screen and (min-width: 460px) {
            flex-flow: row;
            flex-direction: row;
        }

        .no-flexbox & {
            display: table;
            width: 100%;
        }
    }

    &__client-item {
        flex: auto;
        padding: 1rem;
        text-align: center;

        .no-flexbox & {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

/* ==========================================================================
   The Grid
   ========================================================================== */

.grid {

    &__hide {
        display: none;
    }

    &__primary-container {
        @include container;
        height: 100%;
    }

    &__full {
        @include full;
    }

    &--full-height {
        height: 100%;
    }


/* ==========================================================================
   Header
   ========================================================================== */

    &__navigation-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;

        @media screen and (min-width: 800px) {
            position: relative;
            width: auto;
            height: auto;
            display: block;
            float: right;
        }
    }

/* ==========================================================================
   Blog
   ========================================================================== */

    &__previous-link {
        @include span(6);
    }

    &__next-link {
        @include span(6 last);
    }

/* ==========================================================================
   Home page services
   ========================================================================== */

    &__service {

        @include full;

        @media screen and (min-width: 460px) {
            @include span(6 nobreak);
        }

        @media screen and (min-width: 750px) {
            margin-bottom: map-get( $spacing, bottom );
        }

        @media screen and (min-width: 900px) {
            @include span(4);
        }

        &--left {
            @media screen and (min-width: 900px) {
                @include squish(1, 1);
            }

            @media screen and (min-width: 1140px) {
            //    @include squish(2, 0);
            }
        }

        &--right {
            @include last;

            @media screen and (min-width: 900px) {
                @include squish(1, 1);
            }

            @media screen and (min-width: 1140px) {
            //    @include squish(0, 2);
            }
        }
    }


    &__case-studies-button {
        @include full;

        @media screen and (min-width: 600px) {
            @include span(6 nobreak);
            @include pre(3);
            @include post(3);
        }

        @media screen and (min-width: 900px) {
            @include span(4 nobreak);
            @include pre(4);
            @include post(4);
            margin-top: map-get($spacing, top);
        }
    }




/* ==========================================================================
   Card grid
   ========================================================================== */

    $card-grid: (
        1-split: layout(1 0.025 split),
        2-split: layout(2 0.025 split),
        3-split: layout(3 0.025 split)
    );

    &__card-container {
        @include container(map-get($card-grid, 1-split) );

        @media screen and (min-width: 460px) {
            @include container(map-get($card-grid, 2-split) );
        }

        @media screen and (min-width: 900px) {
            @include container(map-get($card-grid, 3-split) );
        }
    }

    &__card {
        @include span(1 of map-get($card-grid, 1-split) );

        @media screen and (min-width: 460px) {
            @include span(1 of map-get($card-grid, 2-split) );
        }

        @media screen and (min-width: 900px) {
            @include span(1 of map-get($card-grid, 3-split) );
        }
    }

/* ==========================================================================
   Section Child
   ========================================================================== */

    &__section-child-image {
        display: none;

        @media screen and (min-width: 900px) {
            @include span(4);
            display: block;
        }

        &--even {
            @media screen and (min-width: 900px) {
                @include last;
            }
        }


    }

    &__section-child-text {
        @include full;

        &--odd {
            @media screen and (min-width: 900px) {
                @include span(8 nobreak last);
            }
        }

        &--even {
            @media screen and (min-width: 900px) {
                @include span(8 nobreak);
            }
        }
    }

    &__section-child-button {
        @include full;

        @media screen and (min-width: 600px) {
            @include span(6 nobreak);
            @include pre(3);
            @include post(3);
        }

        &--odd {
            @media screen and (min-width: 900px) {
                @include span(3 of 6);
                @include pre(0);
                @include post(3 of 6);
            }
        }

        &--even {
            @media screen and (min-width: 900px) {
                @include span(3 of 6);
                @include pre(3 of 6);
                @include post(0);
            }
        }
    }

/* ==========================================================================
   Contact Page
   ========================================================================== */

    &__contact-address {
        @include full;

        @media screen and (min-width: 560px) {
           @include span(6 nobreak);
        }

        &--london {

        }

        &--canterbury {
            @media screen and (min-width: 560px) {
                @include last;
            }
        }
    }

    &__contact-details {
        @include full;
        margin-top: map-get($mobile-spacing, top);
        margin-bottom: map-get($mobile-spacing, bottom);

        padding-top: map-get($mobile-internal-spacing, top);
        padding-bottom: map-get($mobile-internal-spacing, bottom);

        @media screen and (min-width: 460px) {
            margin-top: map-get($spacing, top);
            margin-bottom: map-get($spacing, bottom);

            padding-top: map-get($internal-spacing, top);
            padding-bottom: map-get($internal-spacing, bottom);
        }
    }

/* ==========================================================================
   Case study
   ========================================================================== */

    &__statistics {
        @include full;
        margin-top: map-get($mobile-spacing, top);
        margin-bottom: map-get($mobile-spacing, bottom);

        padding-top: map-get($mobile-internal-spacing, top);
        padding-bottom: map-get($mobile-internal-spacing, bottom);

        @media screen and (min-width: 460px) {
            margin-top: map-get($spacing, top);
            margin-bottom: map-get($spacing, bottom);

            padding-top: map-get($internal-spacing, top);
            padding-bottom: map-get($internal-spacing, bottom);
        }
    }


    &__statistics-block {
        @include full;

        @media screen and (min-width: 460px) {
            @include span(4 nobreak);
        }

        &:nth-of-type(3n) {
            @media screen and (min-width: 460px) {
                @include last;
            }
        }
    }



/* ==========================================================================
   Comment form
   ========================================================================== */

    &__comment-element {
        @include full;

        &--input {
            margin-bottom: map-get($mobile-internal-spacing, bottom);

            @media screen and (min-width: 460px) {
                @include span(6 nobreak);
                margin-bottom: map-get($internal-spacing, bottom);

                &:nth-of-type(2n) {
                    @include last;
                }
            }
        }

        &--textarea {
            margin-bottom: map-get($mobile-spacing, bottom);

            @media screen and (min-width: 460px) {
                margin-bottom: map-get($spacing, bottom);
            }
        }
    }

    &__comment-submit {
        @include full;

        @media screen and (min-width: 600px) {
            @include span(6 nobreak);
            @include pre(3);
            @include post(3);
        }

        @media screen and (min-width: 900px) {
            @include span(4 nobreak);
            @include pre(4);
            @include post(4);
        }
    }

/* ==========================================================================
   Footer
   ========================================================================== */


    &__footer-navigation {
        @include full;
        margin-bottom: map-get($mobile-spacing,bottom);

        @media screen and (min-width: 460px) {
            @include span(4 nobreak);
            margin-bottom: 0;
        }

        @media screen and (min-width: 750px) {
            @include span(4);
        }
    }

    &__footer-contact-info {
        @include full;

        @media screen and (min-width: 460px) {
            @include span(8 last nobreak);
        }

        @media screen and (min-width: 750px) {
            @include span(8 last);
        }
    }

    &__footer-logo {
        display: none;
        clear: both;

        @media screen and (min-width: 460px) {
            @include span(4 break);
            display: block;
            padding-left: gutters();
        }

        @media screen and (min-width: 1140px) {
            padding-left: 0;
        }
    }

    &__footer-copyright {
        @include full;
        padding-right: gutters();

        @media screen and (min-width: 460px) {
            @include span(8 last nobreak);
        }

        @media screen and (min-width: 1140px) {
            padding-right: 0;
        }
    }
}
