/**
 *
 * sass/partials/_map.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */



.contact-map {
    width: 100%;
    height: 80vh;
}

.info-window {
    text-align: center;
    padding-top: map-get($mobile-spacing, top);
    padding-bottom: map-get($mobile-spacing, bottom);

    @media screen and (min-width: 460px) {
        padding-top: map-get($spacing, top);
        padding-bottom: map-get($spacing, bottom);
    }

    &__heading {
        @extend %h4;
        white-space: nowrap;
        text-align: left;
        display: block;
    }

    &__location {
        @extend %h6;
        font-weight: map-get($weight, light);
        display: block;
        text-transform: uppercase;
        color: palette(grey);
        margin-bottom: .5em;
    }

    &__directions {
        @extend %paragraph;
        text-transform: uppercase;
    }
}

.contact-details {
    border-style: solid;
    border-width: 1px 0 1px;
    border-color: palette(grey, mid-light);

    &__list {
        @extend %list;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column;
        width: 100%;

        @media screen and (min-width: 560px) {
            flex-flow: row;
        }
    }

    &__item {
        width: 100%;
        text-transform: uppercase;
        padding: .5em 0;

        @media screen and (min-width: 560px) {
            float: left;
            padding: 0;
            width: 50%;
        }
    }
}
