/**
 *
 * sass/partials/_navigation.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Breadcrumbs
   ========================================================================== */

    .breadcrumbs {
        @extend %h6;
        text-align: left;
        list-style: none;
        margin: 0;
        padding: 0;

        &--inpage {
            margin: 3em 0 0;
        }

        &__item {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        &__link {
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
        }

    }


/* ==========================================================================
   Primary navigation
   ========================================================================== */

    .primary-navigation {
        position: fixed;
        width: 100%;
        min-height: 100vh;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        //background-color: palette(transparent-grey, x-dark);
        background-color: palette(grey, x-dark);
        //transition: opacity 0.25s ease-in;


        @media screen and (min-width: 840px) {
            position: relative;
            width: auto;
            height: 60px;
            min-height: 0 !important; // Because of bugfill for vh and ios
            opacity: 1;
            visibility: visible;
            background: none;
            transition: none;
        }

        &--open {
            opacity: 1;
            visibility: visible;
            z-index: 999999;
            overflow-y: scroll;
        }

        &--active {
            overflow: hidden;
            height: 0px;
        }

        &__close {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 9999999;

            width: 25px;
            height: 25px;
            min-width: 0;
            min-height: 0;
            background-image: url( '../img/navigation-close.png' );
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            border-radius: 0;
            padding: 0;

            &:hover {
                background-color: transparent;
                border-color: transparent;
            }

            @media screen and (min-width: 460px) {
                width: 30px;
                height: 30px;
            }

            @media screen and (min-width: 840px) {
                display: none;
            }
        }

        .nav-menu {
            display: flex;
            flex-flow: column;
            align-items: center;
            height: auto;
            min-height: 100vh;
            max-width: 80%;
            padding: 2rem 0 2rem;
            margin: 0 auto;
            list-style: none;

            @media screen and (min-width: 460px) {
                padding: 3rem 0 1rem;
            }

            @media screen and (min-width: 840px) {
                display: block;
                max-width: 100%;
                height: auto;
                min-height: 0 !important; // Because of bugfill for vh and ios
                text-align: right;
                padding: 0;
                margin: 0 15px 0 0;
                line-height: 1.4;
            }
        }

        .menu-item {
            flex: auto;
            display: block;
            text-align: center;
            width: 100%;

            @media screen and (min-width: 840px) {
                display: inline-block;
                text-align: right;
                width: auto;
            }

            a {
                display: block;
                font-size: 30px;
                color: rgb(255, 255, 255);

                font-weight: map-get($weight, bold);
                text-transform: uppercase;
                text-decoration: none;

                @media screen and (min-width: 750px) {
                    font-size: 72px;
                }

                @media screen and (min-width: 840px) {
                    font-size: 16px;
                    font-weight: map-get($weight, light);
                    padding: 20px 0 14px;
                    margin: 0 0 0 15px;
                }

                &:hover {
                    @media screen and (min-width: 840px) {
                        background: none;
                        border-bottom: 4px solid palette(white);
                    }
                }
            }
        }
    }

    .menu-primary-menu-container {
        width: 100%;
    }

    .footer-navigation {
        border-bottom: 1px solid palette(grey);
        padding-bottom: map-get($mobile-spacing,bottom);
        padding-left: gutters();
        padding-right: gutters();

        @media screen and (min-width: 460px) {
            border-bottom: none;
            padding-left: (gutters() * 2);
            padding-right: 0;
            padding-bottom: 0;
        }

        @media screen and (min-width: 1140px) {
            padding-left: 0;
        }

        .nav-menu {
            text-align: center;
            padding: 0;
            margin: 0;
            list-style: none;

            @media screen and (min-width: 460px) {
                text-align: left;
            }
        }

        .menu-item {
            display: block;
            text-align: center;

            @media screen and (min-width: 460px) {
                text-align: left;
            }

            a {
                display: block;
                font-size: 14px;
                padding: 0 0 20px;
                color: palette(white);

                font-weight: map-get($weight, bold);
                text-transform: uppercase;
                text-decoration: none;

                @media screen and (min-width: 750px) {
                    font-size: 24px;
                }

                &:hover {
                    color: palette(grey, light);
                }
            }

            &:last-of-type {
                a {
                    padding-bottom: 0;
                }
            }
        }
    }


    .page-navigation {
        padding-top: map-get($mobile-spacing, top);
        padding-bottom: map-get($mobile-spacing, bottom);

        @media screen and (min-width: 460px) {
            padding-top: map-get($spacing, top);
            padding-bottom: map-get($spacing, bottom);
        }

        a {
            font-weight: bold;
            text-transform: uppercase;
        }

        &__item {

            &--long {
                display: none;

                @media screen and (min-width: 460px) {
                    display: block;
                }
            }

            &--short {
                display: block;

                @media screen and (min-width: 460px) {
                    display: none;
                }
            }

            a {
                display: inline-block;
                line-height: 0.9em;
                max-width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        }

        &__previous {
            text-align: left;
        }

        &__next {
            text-align: right;
        }
    }
