/**
 *
 * sass/partials/_page.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   General Page - Tools
   ========================================================================== */

    .typography {
        img {
            display: block;
            margin: 3em auto;
            max-width: 100%;

            &.alignleft {
                margin-left: 0;
            }
            &.alignright {
                margin-right: 0;
            }
        }
    }

    .section {
        padding-top: map-get($mobile-spacing,top);
        padding-bottom: map-get($mobile-spacing,bottom);

        @media screen and (min-width: 460px) {
            padding-top: map-get($spacing,top);
            padding-bottom: map-get($spacing,bottom);
        }

        &--full-height {
            height: 100vh;
        }

        &--alternative {
            background-color: rgb(235, 235, 235);
        }

        &--dark {
            background-color: palette(grey,dark);
            color: white;
        }

        &--gutters {
            padding-left: gutters();
            padding-right: gutters();
        }

        &--comment-form {
            border-top: 1px solid palette(red);
            background-color: palette(red);
        }

        &--footer {
            background-color: palette(grey, dark);
            padding-bottom: 0;
        }

        &__heading {}

        &__subheading {}

        &__intro {
            @extend %intro;
            margin-bottom: map-get($mobile-spacing, bottom);
            text-align: center;

            @media screen and (min-width: 460px) {
                margin-bottom: map-get($spacing, bottom);
            }
        }
    }

    .child-section {
        &__heading {
            margin: 0;

            @media screen and (min-width: 900px) {
                &--odd {
                    text-align: left;
                }

                &--even {
                    text-align: left;
                }
            }
        }

        &__subheading {
            @extend %h4;
            font-weight: map-get($weight, light);
            color: palette(grey);

            @media screen and (min-width: 900px) {
                &--odd {
                    text-align: left;
                }

                &--even {
                    text-align: left;
                }
            }
        }

        &__introduction {
            margin-bottom: map-get($mobile-spacing, bottom);
            max-width: 100%;

            @media screen and (min-width: 460px) {
                margin-bottom: map-get($spacing ,bottom);
            }

            p {
                @extend %intro;
                text-align: center;
            }

            &--odd {
                p {
                    @media screen and (min-width: 900px) {
                        text-align: left;
                    }
                }
            }

            &--even {
                p {
                    @media screen and (min-width: 900px) {
                        text-align: left;
                    }
                }
            }
        }

        &__button {
            @extend %button;
            @extend %button--primary;
            @extend %button--full-width;
        }
    }

    .card {
        display: block;
        padding: 20px;
        margin-bottom: 5px;
        background-color: palette(white);
        text-decoration: none;
        font-weight: normal;

        @media screen and (min-width: 460px) {
            height: 350px;
        }

        @media screen and (min-width: 600px) {
            height: 450px;
        }

        @media screen and (min-width: 750px) {
            height: 600px;
        }

        &--link {

            &:hover {
                background-color: palette(grey, dark);

                .card__category {
                    color: palette(white);
                }

                .card__heading {
                    color: palette(white);
                }

                .card__excerpt {
                    color: palette(white);
                }
            }
        }

        &__category {
            @extend %h5;
            color: palette(red);
            text-align: center;
            margin-top: 0;

            @media screen and (min-width: 460px) {
                text-align: left;
            }
        }

        &__heading {
            @extend %h4;
            color: palette(grey, dark);
            margin-top: 0;

            @media screen and (min-width: 460px) {
                text-align: left;
            }
        }

        &__excerpt {
            display: none;

            @media screen and (min-width: 600px) {
                display: block;
                text-align: left;
                color: palette(grey, dark);
                line-height: 1.8;
            }

            @media screen and (min-width: 750px) {
                font-size: 18px;
            }
        }
    }

    .service {

        &__wrapper {
            display: block;
            width: 140px;
            height: 140px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: map-get($mobile-spacing, bottom);


            @media screen and (min-width: 450px) {
                width: 190px;
                height: 190px;
                margin-bottom: map-get($spacing, bottom);
            }

            @media screen and (min-width: 750px) {
                width: 275px;
                height: 275px;
            }

            @media screen and (min-width: 900px) {
                width: 300px;
                height: 300px;
            }

            &--page {

                @media screen and (min-width: 750px) {
                    width: 210px;
                    height: 210px;
                }

                @media screen and (min-width: 900px) {
                    width: 250px;
                    height: 250px;
                }
            }
        }

        &__disk {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: palette(grey, mid-light);
            border-radius: 9999px;
            text-decoration: none;
            z-index: 0;
        }

        &__image {
            position: relative;
            z-index: 1;
            max-width: 100%;
        }

        &__title {
            margin-bottom: 0;
        }

        &__description {
            text-align: center;
            font-size: 16px;

            @media screen and (min-width: 750px) {
                font-size: 18px;
            }

            &--first {
                border-bottom: 1px solid #e4e4e4;
                padding-bottom: 2em;
                margin-bottom: 2em;

                @media screen and (min-width: 450px) {
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }

    .client-list {

        &--dark {
            background-color: palette(grey, dark);

            @media screen and (min-width: 450px) {
                padding: 3em 0;
            }
        }

        &__logo {
            max-width: 100%;
            margin: 10px 0;
            max-height: 40px;

            @media screen and (min-width: 750px) {
                max-height: 50px;
            }

            @media screen and (min-width: 900px) {
                max-height: 60px;
            }
        }
    }

    .article {
        &__introduction {
            margin-bottom: 3em;
            p {
                @extend %intro;
            }
        }
    }

    .contact {
        &__heading {
            @extend %h3;
            margin-bottom: 0;
            margin-top: 20px;
        }

        &__location {
            @extend %h4;
            font-weight: map-get($weight, light);
            color: palette(grey);
            margin-bottom: .5em;
            display: inline-block;
        }

        &__address {
            @extend %paragraph;
            font-style: normal;
            text-align: center;
        }

        &__logo {
            width: 80%;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: map-get($mobile-spacing, top);
            margin-bottom: map-get($mobile-spacing, bottom);

            @media screen and (min-width: 750px) {
                margin-top: map-get($spacing, top);
                margin-bottom: map-get($spacing, bottom);
            }
        }
    }

    .tags {
        display: flex;
        flex-flow: row;
        justify-content: center;

        &__heading {
            margin-right: .3em;
            text-transform: uppercase;
        }

        a {
            text-transform: uppercase;
        }
    }
