/**
 *
 * sass/partials/_shame.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Shame - Dirty tricks
   ========================================================================== */

#wpadminbar {
    position: fixed !important;
    border-bottom: 1px solid palette(grey, mid-dark) !important;
}

// Contact 7 Form

.screen-reader-response {
    display: none;
}

.wpcf7-response-output {
    text-align: center;
    color: #fff;
}

.wpcf7-not-valid-tip {
    color: #fff;
}

.wpcf7-form-control-wrap {
    display: block !important;
}
