/**
 *
 * sass/_partials/table.scss
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
  Standard
  ========================================================================== */

table {
    @extend %table;
}

thead {
    @extend %table__head;
}

tbody {
    @extend %table__body;
}

tr {
    @extend %table__row;

    &:nth-child(even) {
        @extend %table__row--even;
    }

    &:nth-child(odd) {
        @extend %table__row--odd;
    }
}

th {
    @extend %table__header;
}

td {
    @extend %table__data;
}

.table-wrap {
    @extend %table-wrap;
}

/* ==========================================================================
  Modifiers
  ========================================================================== */

.table {

    &__header {
        &--money {
            @extend %table__header--align-right;
        }
    }

    &__data {
        &--money {
            @extend %table__data--align-right;
        }

        &--center {
            @extend %table__data--align-center;
        }
    }
}
