/**
 *
 * sass/partials/_typography.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Element defaults
   ========================================================================== */

body {
    @extend %base-font;
    color: palette(grey, dark);
}

b, strong { @extend %bold; }
i, em { @extend %italic; }
h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }
h6 { @extend %h6; }
p { @extend %paragraph; }
a { @extend %link; }




/* ==========================================================================
   Content typography
   ========================================================================== */

.typography {
    i, em { @extend %italic; }
    b, strong { @extend %bold; }
    h1, .h1 {
        @extend %h1;

        @media screen and (min-width: 460px) {
            text-align: left;
        }
    }
    h2, .h2 {
        @extend %h2;

        @media screen and (min-width: 460px) {
            text-align: left;
        }
    }
    h3, .h3 {
        @extend %h3;

        @media screen and (min-width: 460px) {
            text-align: left;
        }
    }
    h4, .h4 {
        @extend %h4;

        @media screen and (min-width: 460px) {
            text-align: left;
        }
    }
    h5, .h5 {
        @extend %h5;

        @media screen and (min-width: 460px) {
            text-align: left;
        }
    }
    h6, .h6 {
        @extend %h6;

        @media screen and (min-width: 460px) {
            text-align: left;
        }
    }
    p {
        @extend %paragraph;
        text-align: left;
    }
    ul {
        @extend %unordered-list;
        text-align: left;
    }
    ol {
        @extend %ordered-list;
        text-align: left;
    }
    pre, code {
        @extend %fixed-font;
        text-align: left;
    }
    a { @extend %link; }
}
