/**
 *
 * sass/modules/_fieldset.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Import globals
   ========================================================================== */

@import '../global';




/* ==========================================================================
   Set defaults
   ========================================================================== */

$defaults:(
    fieldset: (
        base: (
            padding: (1rem / 2),
            margin: 0 0 1rem,
            background-color: transparent,
            border-color: palette(grey, mid-light),
            border-style: solid,
            border-width: 1px,
            border-radius: if(global(radius), 5px, 0),
        ),
    ),
);




/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin fieldset {

/* Defaults
   ========================================================================== */

    @include get-defaults($defaults, fieldset);
}




/* ==========================================================================
   Placeholders
   ========================================================================== */

%fieldset {
    @include fieldset;
}
