/**
 *
 * sass/modules/_form.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Import globals
   ========================================================================== */

@import '../global';




/* ==========================================================================
   Set defaults
   ========================================================================== */

$defaults:(
    form: (
        base: (
            margin: 0 0 1rem
        ),
    ),
);




/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin form {

/* Defaults
   ========================================================================== */

    @include get-defaults($defaults, form);
}




/* ==========================================================================
   Placeholders
   ========================================================================== */

%form {
    @include form;
}
