/**
 *
 * sass/modules/_input.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Import globals
   ========================================================================== */

@import '../global';




/* ==========================================================================
   Set defaults
   ========================================================================== */

$defaults:(
    input-text: (
        base: (
            display: block,
            width: 100%,
            height: 45px,
            padding: 0.75rem 0.5rem,
            margin: 0,
            background-color: rgb(225, 225, 225),
            color: rgb(30, 30, 30),
            border-color: palette(grey, mid),
            border-style: solid,
            border-width: 0px,
            border-radius: if(global(radius), 5px, 0),
            box-shadow: if(global(box-shadow), inset 0 1px 2px rgba(0, 0, 0, 0.1), none),
            font-size: 0.8rem,
            font-weight: normal,
            -webkit-appearance: none,
            -moz-appearance: none,
            appearance: none,
            box-sizing: border-box
        ),
        focus: (
            border-color: palette(grey, mid-light),
            box-shadow: if(global(box-shadow), 0 0 3px rgb(200, 200, 200), none),
            outline: none,
        ),
        disabled: (
            background-color: palette(grey, x-light),
            color: palette(grey),
            cursor: not-allowed,
        ),
    ),
    input-other: (
        base: (
            margin: 0 0 1rem,
        )
    )

);




/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin input-text($text-align: left) {

/* Defaults
   ========================================================================== */

    @include get-defaults($defaults, input-text);

/* Customisations
   ========================================================================== */

    text-align: $text-align;

/* States
   ========================================================================== */

    &:focus {
        @include get-defaults($defaults, input-text, focus);
    }

    &[disabled] {
        @include get-defaults($defaults, input-text, disabled);
    }

    @media screen and (min-width: 460px) {
        margin: 0 0 1rem;
    }
}

@mixin input-other {

/* Defaults
   ========================================================================== */

    @include get-defaults($defaults, input-other);

/* Customisations
   ========================================================================== */

/* States
   ========================================================================== */

    &:focus {
        @include get-defaults($defaults, input-other, focus);
    }

    &[disabled] {
        @include get-defaults($defaults, input-other, disabled);
    }

    @media screen and (min-width: 460px) {
        margin: 0 0 1rem;
    }
}




/* ==========================================================================
   Placeholders
   ========================================================================== */

%input-text {
    @include input-text;

    &--flex {
        flex: 1;
    }

    &--prefix {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }

    &--suffix {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }
}

%input-other {
    @include input-other;
}
