/**
 *
 * sass/modules/_label.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Import globals
   ========================================================================== */

@import '../global';




/* ==========================================================================
   Set defaults
   ========================================================================== */

$defaults:(
    label: (
        base: (
            display: block,
            cursor: pointer,
            font-weight: normal,
            line-height: 1.5,
            text-transform: uppercase,
        ),
    ),
    label--inline: (
        base: (
            display: inline-block,
            margin: 0 1rem 0 0.5rem,
            vertical-align: baseline,
        )
    )
);




/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin label {

/* Defaults
   ========================================================================== */

    @include get-defaults($defaults, label);

/* Customisations
   ========================================================================== */

/* States
   ========================================================================== */

}

@mixin label--inline {

/* Defaults
   ========================================================================== */

    @include get-defaults($defaults, label--inline);

/* Customisations
   ========================================================================== */

/* States
   ========================================================================== */

}




/* ==========================================================================
   Placeholders
   ========================================================================== */

%label {
    @include label;

    &--inline {
        @include label--inline;
    }
}
