/**
 *
 * sass/modules/_legend.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Import globals
   ========================================================================== */

@import '../global';




/* ==========================================================================
   Set defaults
   ========================================================================== */

$defaults:(
    legend: (
        base: (
            font-size: 0.9rem,
        ),
    )
);




/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin legend {

/* Defaults
   ========================================================================== */

    @include get-defaults($defaults, legend);
}





/* ==========================================================================
   Placeholders
   ========================================================================== */

%legend {
    @include legend;
}
