/**
 *
 * sass/modules/_select.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Import globals
   ========================================================================== */

@import '../global';




/* ==========================================================================
   Set defaults
   ========================================================================== */

$defaults:(
    select: (
        base: (
            width: 100%,
            height: 45px,
            padding: 0.75rem 0.5rem,
            margin: 0 0 1rem,
            background-color: palette(white),
            border-color: palette(grey, mid-light),
            border-style: solid,
            border-width: 1px,
            border-radius: if(global(radius), 5px, 0),
            box-shadow: if(global(box-shadow), inset 0 1px 2px rgba(0, 0, 0, 0.1), none),
            font-size: 0.8rem,
            font-weight: normal,
            -webkit-appearance: none,
            -moz-appearance: none,
            appearance: none,
        ),
        focus: (
            border-color: palette(grey, mid-light),
            box-shadow: if(global(box-shadow), 0 0 3px rgb(200, 200, 200), none),
            outline: none,
        ),
        disabled: (
            background-color: palette(grey, x-light),
            color: palette(grey),
            cursor: not-allowed,
        ),
    ),
);




/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin select {

/* Defaults
   ========================================================================== */

    @include get-defaults($defaults, select);

/* Customisations
   ========================================================================== */

/* States
   ========================================================================== */

    &:focus {
        @include get-defaults($defaults, select, focus);
    }

    &[disabled] {
        @include get-defaults($defaults, select, disabled);
    }
}




/* ==========================================================================
   Placeholders
   ========================================================================== */

%select {
    @include select();

    &--prefix {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }

    &--suffix {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }
}
