/**
 *
 * sass/modules/_textarea.scss
 *
 *
 * @author Ben Griffith
 * @copyright 2014, Loft Digital, www.weareloft.com
 */




/* ==========================================================================
   Import globals
   ========================================================================== */

@import '../global';




/* ==========================================================================
   Set defaults
   ========================================================================== */

$defaults:(
    textarea: (
        base: (
            display: block,
            width: 100%,
            height: auto,
            padding: (1rem / 2),
            margin: 0 0 1rem,
            background-color: palette(white),
            border-color: palette(grey, mid-light),
            border-style: solid,
            border-width: 1px,
            border-radius: if(global(radius), 5px, none),
            box-shadow: if(global(box-shadow), inset 0 1px 2px rgba(0, 0, 0, 0.1), none),
            font-size: 0.8rem,
            font-weight: normal,
            -webkit-appearance: none,
            -moz-appearance: none,
            appearance: none,
        ),
        focus: (
            border-color: palette(grey, mid-light),
            box-shadow: if(global(box-shadow), 0 0 3px rgb(200, 200, 200), none),
            outline: none,
        ),
        disabled: (
            background-color: palette(grey, x-light)
        ),
    )
);




/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin textarea {

/* Defaults
   ========================================================================== */

    @include get-defaults($defaults, textarea);

/* Customisations
   ========================================================================== */

/* States
   ========================================================================== */

   &:focus {
       @include get-defaults($defaults, textarea, focus);
   }

   &[disabled] {
       @include get-defaults($defaults, textarea, disabled);
   }
}



/* ==========================================================================
   Placeholders
   ========================================================================== */

%textarea {
    @include textarea;
}
