<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css"><!--
h1
{
	font-family:Arial, Helvetica, sans-serif; color:#a00122; font-size:24px; margin-bottom:2px;
}

td
{
	font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:justify;
}
.style1 {font-weight: bold}
.style2 {font-weight: bold}
.style3 {color: #FF0000}
--></style>
<title>4Ps Marketing Newsletter</title>
<center>
<table border="0">
<tbody>
<tr>
<td width="950" style="padding: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
<div align="center"><a href="http://www.4psmarketing.com/wp-content/uploads/2012/08/August12Newsletter.html" target="_blank">Having trouble reading this email? View It On Your Web Browser</a><a></a></div>
</td>
</tr>
<tr>
<td align="center"><!-- Begin Top Box -->
<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/white-top-corners.png" border="0" alt="*" width="978" height="12" /></td>
</tr>
<tr>
<td bgcolor="#ffffff"><!-- Top Icon Box -->
<table style="width: 93%;">
<tbody>
<tr>
<td style="padding: 20px;">
<div align="center"><img src="http://www.4psmarketing.com/wp-content/uploads/2012/06/logo.png" border="0" alt="4Ps Marketing : Leading Search & Social Agency" title="4Ps Marketing : Leading Search & Social Agency" /></div>
</td>
<td>
<h1 style="font-family: Arial, Helvetica, sans-serif; color: #a00122; font-size: 24px; text-align: center;">Join our community</h1>
<table>
<tbody>
<tr>
<td><a href="https://plus.google.com/u/1/104849317690002131589" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-google-plus.png" border="0" alt="Google+" title="Google+" /></a></td>
<td><a href="https://www.facebook.com/4psmarketing" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-facebook.png" border="0" alt="Facebook" title="Facebook" /></a></td>
<td><a href="https://twitter.com/#!/4psmarketing " target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-twitter.png" border="0" alt="Twitter" title="Twitter" /></a></td>
<td><a href="https://www.youtube.com/4psmarketing " target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-youtube.png" border="0" alt="YouTube" title="YouTube" /></a></td>
<td><a href="http://www.4psmarketing.com/category/blog/feed/ " target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-rss.png" border="0" alt="RSS" title="RSS" /></a></td>
<td><a href="http://www.4psmarketing.com/category/blog/ " target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-blog.png" border="0" alt="Blog" title="Blog" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" align="center" style="padding-left: 10px;"><!-- Options -->
<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td><a href="http://www.4psmarketing.com/services/" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/button-services.png" border="0" alt="Out Services" title="Our Services" /></a></td>
<td><a href="http://www.4psmarketing.com/4ps-marketing/about-us/about-us-2/" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/button-aboutus.png" border="0" alt="About Us" title="About Us" /></a></td>
<td><a href="http://www.4psmarketing.com/4ps-marketing/clients/clients/" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/button-ourclients.png" border="0" alt="Our Clients" title="Our Clients" /></a></td>
<td><a href="http://www.4psmarketing.com/contact-us/" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/button-contactus.png" border="0" alt="Contact Us" title="Contact Us" /></a></td>
</tr>
</tbody>
</table>
<!-- End Options --></td>
</tr>
</tbody>
</table>
<!-- End Top Icon Box --></td>
</tr>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/white-bottom-corners.png" border="0" alt="*" width="978" height="15" /></td>
</tr>
</tbody>
</table>
<!-- End Top Box --> <br /> <!-- Main Box -->
<table cellpadding="4" cellspacing="2" border="0" style="width: 100%;">
<tbody>
<tr>
<td width="770" height="1330" valign="top" style="width: 770px;">
<table cellpadding="0" cellspacing="0" style="width: 778px; height: 1312px;">
<tbody>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/mainbox-top.png" border="0" alt="*" /></td>
</tr>
<tr>
<td height="850" bgcolor="#ffffff" style="padding: 8px;"><!-- Content Goes Here -->
<table border="0" style="width: 99%;">
<tbody>
<tr>
<td width="49%" height="1273" valign="top">
<h1>August 2012 Newsletter</h1>
<p align="left"><span style="color: #000000;">It's been another busy month here at 4Ps Marketing. We're planning a couple of events which everyone is welcome to attend. Please read below to find out how to register.</span></p>
<p align="left"><span style="color: #000000;">We also have many changes coming up in the ever expanding 4Ps Marketing. Please make sure you are always connected via our social media channels by clicking on the buttons above.</span></p>
<p align="left"><span style="color: #000000;">Read on to find out what else is going on...</span></p>
<h2 align="left"><span style="font-size: 12pt; color: #000000;"><a href="http://www.4psmarketing.com/blog/olympics-review-going-for-gold-online-vs-tv-advertising/"><span style="color: #000000;">Going for Gold: Online Video Promotion vs TV advertising</span></a></span></h2>
<p align="left"><span style="color: #000000;"><strong>What</strong>: 4Ps Marketing have been looking at the impact the Olympics have had on the digital space. Paying specific attention to how core sponsors have utilised TV advertising along with online video promotion.</span></p>
<p align="left"><span style="color: #000000;">This presentation will focus on aiding brands to achieve effective digital growth through sales and branding opportunities.</span></p>
<p align="left"><span style="color: #000000;">We will also highlight how to take advantage of global events in the future, not just Sports and Sponsorship brands but across all verticals, looking at how to produce an effective digital marketing strategy.</span></p>
<p align="left"><span style="color: #000000;"><strong>Where</strong>: The Lansdowne Club, 9 Fitzmaurice Place, Mayfair, London, W1J 5JD</span></p>
<p align="left"><span style="color: #000000;"><strong>When</strong>: Thursday 20th September 2012 6pm – 9pm</span></p>
<p align="left"><span style="color: #000000;"><strong>Sign-Up</strong>: Please register your interest in attending <a href="http://www.4psmarketing.com/4ps-marketing/events/olympics-review/" target="_blank" title="Olympics Review Signup form"><span style="color: #000000;">here</span></a>.</span></p>
<p align="left"><span style="color: #000000;"><img src="http://www.4psmarketing.com/wp-content/uploads/2012/08/YouAreInvitedImg2.jpg" border="0" width="373" height="80" /></span></p>
<h2 align="left"><span style="font-size: 12pt; color: #000000;"><a href="http://www.4psmarketing.com/blog/3-men-1-mountain-building-a-brand-in-a-digital-world/" target="_blank"><span style="color: #000000;">3 Men, 1 Mountain: Building a Brand in a Digital World</span></a></span></h2>
<h3 align="right"><span style="font-size: 10pt; color: #000000;">...Is the distinction between Online / Offline Marketing obsolete?</span></h3>
<p align="left"><span style="color: #000000;"><strong>Date:          </strong>1pm 5th October 2012</span></p>
<p align="left"><span style="color: #000000;"><strong>Venue:       </strong>Ben Nevis, Fort William, Highlands, Scotland</span></p>
<p align="left"><span style="color: #000000;"><strong>Register</strong>:   Please register for your tickets <a href="http://3men1mountain.eventbrite.co.uk/" target="_blank"><span style="color: #000000;">here</span></a>.</span></p>
<p align="left"><span style="color: #000000;"><strong>Cost:           </strong><em>Free</em> to attend. Charitable donations are optional.</span></p>
<p align="left"><span style="color: #000000;"><strong>Hashtag:   </strong>#3Men1Mountain</span></p>
<h4 align="left"><span style="color: #000000;">In a Nutshell:</span></h4>
<p align="left"><span style="color: #000000;">Jack MClaren, Luke Knight and Matt Phelan will be organising a <a href="http://www.4psmarketing.com/blog/3-men-1-mountain/" target="_blank"><span style="color: #000000;">digital conference</span></a> at the top of the highest mountain in the UK on the 5th October. It will be free to attend and everyone is invited.</span></p>
<h2 align="center"><img src="http://www.4psmarketing.com/wp-content/uploads/2012/08/3M1M.jpg" border="0" width="320" height="240" /></h2>
</td>
<td width="1%"></td>
<td width="50%" valign="top">
<h1 align="left">DigiNews</h1>
<h2 align="left"><span style="font-size: 12pt;"><a href="http://www.4psmarketing.com/blog/the-4ps-grad-scheme/">The 4Ps Grad Scheme | What I have learnt</a></span></h2>
<h4 align="left">By Phoebe Green</h4>
<p align="left"><em>2nd August 2012</em></p>
<p align="left">Being a recent university graduate with a degree in marketing, it is reasonable to expect that I would have at least a basic knowledge of digital marketing, but nothing could prepare me for the fast-paced world of working in a digital agency. SEO and PPC were things touched upon during my degree; I knew what the acronyms stood for, but that was the culmination of my knowledge on the subject.</p>
<p align="left"><span class="style2"><a href="http://www.4psmarketing.com/blog/the-4ps-grad-scheme/" target="_blank">Read More</a>...</span></p>
<h2 align="left"><span style="font-size: 12pt;"><a href="http://www.4psmarketing.com/blog/facebook-to-place-adverts-in-users-newsfeeds-regardless-of-their-likes/">Facebook to Place Adverts in Users’ Newsfeeds Regardless of their ‘Likes’</a></span><a href="http://www.4psmarketing.com/blog/why-to-vote-for-hannah-miller-as-top-woman-in-digital-under-30/"></a></h2>
<h4 align="left">By Jack Coy</h4>
<p align="left"><em>16th August 2012</em></p>
<p align="left">Today, it has emerged, the social media giant <a href="http://www.4psmarketing.com/category/blog/facebook/" target="_blank" title="Facebook">Facebook</a> has begun tests in putting ads straight into people’s newsfeeds. The move will allow any organisations to target ‘non-fans’ for the first time, with the potential of reaching the sites 1 billion users.</p>
<p align="left"><span class="style1"><a href="http://www.4psmarketing.com/blog/facebook-to-place-adverts-in-users-newsfeeds-regardless-of-their-likes/" target="_blank">Read More</a>...</span></p>
<h2 align="left"><span style="font-size: 12pt;"><a href="http://www.4psmarketing.com/blog/is-a-links-age-a-ranking-factor/">Is a Link’s Age a Ranking Factor?</a></span></h2>
<h3 align="left"><strong>by Hannah Miller</strong></h3>
<p align="left"><em>17th August 2012</em></p>
<p align="left">Something I have been pondering over recently has been the subject of link quality. As we all know, Google has cracked down on poor quality links with a second large algorithm change, named “<a href="http://www.4psmarketing.com/blog/googles-penguin-update/">Penguin</a>”. However, there is no mention of the quality of a link being defined by how long the link has been in place.</p>
<p align="left"><span class="style2"><a href="http://www.4psmarketing.com/blog/is-a-links-age-a-ranking-factor/" target="_blank">Read more</a>...</span></p>
<h2 align="left"><span style="font-size: 12pt;"><a href="http://www.4psmarketing.com/blog/targeting-the-russian-market-and-yandex/">Targeting the Russian Market and Yandex</a></span></h2>
<h3 align="left"><strong>by Michelle Athersmith</strong></h3>
<p align="left"><em>20th August 2012</em></p>
<p align="left">Russia is the fastest growing Internet market in Europe. With only 51% of its population using the internet in 2012, Russia has the largest internet population in Europe, and 6th largest in the world. By 2014 it is predicted there will be 80 million users in Russia.</p>
<p align="left"><span class="style2"><a href="http://www.4psmarketing.com/blog/targeting-the-russian-market-and-yandex/" target="_blank">Read more</a>...</span></p>
<h2 align="left"><span style="font-size: 12pt;"><a href="http://www.4psmarketing.com/blog/should-facebook-move-into-the-retail-space/">Should Facebook Move into the Retail Space?</a></span><a href="http://www.4psmarketing.com/blog/targeting-the-russian-market-and-yandex/"></a></h2>
<h3 align="left"><strong>by Jack McLaren</strong></h3>
<p align="left"><em>22nd August 2012</em></p>
<p align="left">Whilst catching up on the latest blogs from <a href="http://www.4psmarketing.com/blog/econsultancy-seo-agencies-buyers-guide-2012/" target="_blank" title="SEO Buyers Guide">EConsultancy</a>, an article on the potential to introduce <a href="http://www.4psmarketing.com/blog/f-commerce-in-the-uk/" target="_blank" title="F-Commerce">Facebook</a> ‘buy’ buttons on retail websites caught my eye. The core idea behind this is the problem that users are not interested in being sold to on Facebook (a social communication platform), but the data Facebook has needs to be monetized, if not for Mark Zuckerberg’s benefit then certainly for his shareholders.</p>
<p align="left"><span class="style2"><a href="http://www.4psmarketing.com/blog/should-facebook-move-into-the-retail-space/" target="_blank">Read more</a>...</span></p>
</td>
</tr>
</tbody>
</table>
<!-- End Content --></td>
</tr>
<tr>
<td height="10"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/mainbox-bottom.png" border="0" alt="*" /></td>
</tr>
</tbody>
</table>
</td>
<td valign="top" style="text-align: left;"><!-- Side Banner Goes Here -->
<div style="text-align: left;">
<table cellspacing="0" cellpadding="0" border="0" style="width: 195px;">
<tbody>
<tr>
<td width="195" height="9"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/sidebanner-top.png" border="0" alt="*" /></td>
</tr>
<tr>
<td height="1291" width="195" align="center" bgcolor="#ffffff" style="vertical-align: top; padding: 8px;">
<div align="center">
<p></p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p><a href="http://www.4psmarketing.com/" target="_blank" style="color: #a00122;"><img src="http://www.4psmarketing.com/wp-content/uploads/2012/04/April.Banner.gif" border="0" width="172" height="1000" /></a><!-- End Banners --></p>
</div>
</td>
</tr>
<tr>
<td height="10"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/sidebanner-bottom.png" border="0" alt="*" /></td>
</tr>
</tbody>
</table>
</div>
<!-- End Side Banner --></td>
</tr>
</tbody>
</table>
<!-- End Main Box --> <!-- Meet the Team Box -->
<table border="0" style="width: 977px; height: 172px;">
<tbody>
<tr>
<td width="105" style="padding: 4px;"><!-- Team Picture 1 --> <img src="http://www.4psmarketing.com/wp-content/uploads/2012/07/Phoebe-Green-b+w.jpg" border="0" alt="Phoebe Green" title="Phoebe Green" width="105" /></td>
<td valign="top"><!-- Bubble Table -->
<table border="0" cellspacing="0" cellpadding="0" style="width: 600px;">
<tbody>
<tr>
<td width="27"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-left.png" border="0" alt="*" /></td>
<td>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-top.png" border="0" alt="*" /></td>
</tr>
<tr>
<td style="padding: 20px; background: #e4e1e2;">
<div align="left"><a href="https://twitter.com/#!/PhoebeG_4Ps" target="_blank" style="color: #a00122;">@PhoebeG_4ps</a> Phoebe joined us as a Search Executive on the graduate scheme in July 2012 after completing a marketing degree at Bournemouth University and will be working predominantly in the SEO team. Ask Phoebe a question: Follow on Twitter - @PhoebeG_4Ps.</div>
</td>
</tr>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-bottom.png" border="0" alt="*" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<br />
<table border="0" cellspacing="0" cellpadding="0" style="margin-left: 50px; width: 600px;">
<tbody>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-top.png" border="0" alt="*" /></td>
</tr>
<tr>
<td style="padding: 20px; background: #e4e1e2;"><a href="https://twitter.com/#!/JackCoy_4ps" target="_blank" style="color: #a00122;">@JackCoy_4ps</a> is our brand new Social Media Executive here at 4Ps Marketing. He is responsible for managing client’s social media accounts. Activities range from engaging with communities, to brainstorming and executing content plans.Ask Jack a question: Follow on Twitter - @JackCoy_4Ps.</td>
</tr>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-bottom.png" border="0" alt="*" /></td>
</tr>
</tbody>
</table>
</td>
<td width="27"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-right.png" border="0" alt="*" /></td>
</tr>
</tbody>
</table>
<!-- End Bubble Table --> <!-- Text --> <!--
                                <table border="0" width="660">
                                	<tr>
                                    	<td width="30"> </td>
                                        <td style="padding:20px">
                                        	
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td width="50"> </td>
                                        <td style="padding:20px">
                                        
                                        </td>
                                    </tr>
                                </table>	
                                --> <!-- End Text --></td>
<td width="105" style="padding: 4px;"><!-- Team Picture 2 --> <img src="http://www.4psmarketing.com/wp-content/uploads/2012/07/Jack-Coy-bw.jpg" border="0" alt="Jack Coy" title="Jack Coy" width="105" /></td>
</tr>
</tbody>
</table>
<!-- End Meet the Team Box --> <br /> <!-- Contact Us Box -->
<table cellspacing="0" cellpadding="0" style="width: 976px;">
<tbody>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/black-top-circle.png" border="0" alt="*" width="976" height="15" /></td>
</tr>
<tr>
<td style="color: white; background: #060606; padding-left: 30px;">Email: <a href="mailto:marketing@4psmarketing.com" style="color: white;">marketing@4psmarketing.com</a> Phone: 0207 607 5650<br /> 4Ps Marketing Ltd. 6555145. United House, 39-41 North Road, Islington, London, N7 9DP<br /> If You Wish to Unsubscribe Please Click <a href="mailto:marketing@4psmarketing.com?subject=Unsubscribe" style="color: white;">Here</a></td>
</tr>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/black-bottom-circle.png" border="0" alt="*" width="976" height="14" /></td>
</tr>
</tbody>
</table>
<!-- End Contact Us Box --></td>
</tr>
</tbody>
</table>
</center>