<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
h1
{
	font-family:Arial, Helvetica, sans-serif; color:#a00122; font-size:24px; margin-bottom:2px;
}

td
{
	font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:justify;
}
.style2 {font-weight: bold}
.style4 {color: #990000}
.style6 {	font-size: 16px
}
--></style>
<title>4Ps Marketing Newsletter</title>
<center>
<table border="0">
<tbody>
<tr>
<td width="950" style="padding: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
<div align="center"><a href="http://www.4psmarketing.com/wp-content/uploads/2012/09/September12Newsletter-clients.html" target="_blank">Having trouble reading this email? View It On Your Web Browser</a><a></a></div>
</td>
</tr>
<tr>
<td align="center"><!-- Begin Top Box -->
<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="1018"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/white-top-corners.png" border="0" alt="*" width="1021" height="11" /></td>
</tr>
<tr>
<td bgcolor="#ffffff"><!-- Top Icon Box -->
<table style="width: 100%;">
<tbody>
<tr>
<td style="padding: 20px;">
<div align="center"><img src="http://www.4psmarketing.com/wp-content/uploads/2012/06/logo.png" border="0" alt="4Ps Marketing : Leading Search &amp; Social Agency" title="4Ps Marketing : Leading Search &amp; Social Agency" /></div>
</td>
<td>
<h1 style="font-family: Arial, Helvetica, sans-serif; color: #a00122; font-size: 24px; text-align: center;">Join our community</h1>
<table>
<tbody>
<tr>
<td><a href="https://plus.google.com/u/1/104849317690002131589" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-google-plus.png" border="0" alt="Google+" title="Google+" /></a></td>
<td><a href="https://www.facebook.com/4psmarketing" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-facebook.png" border="0" alt="Facebook" title="Facebook" /></a></td>
<td><a href="https://twitter.com/#!/4psmarketing " target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-twitter.png" border="0" alt="Twitter" title="Twitter" /></a></td>
<td><a href="https://www.youtube.com/4psmarketing " target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-youtube.png" border="0" alt="YouTube" title="YouTube" /></a></td>
<td><a href="http://www.4psmarketing.com/category/blog/feed/ " target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-rss.png" border="0" alt="RSS" title="RSS" /></a></td>
<td><a href="http://www.4psmarketing.com/category/blog/ " target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-blog.png" border="0" alt="Blog" title="Blog" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" align="center" style="padding-left: 10px;"><!-- Options -->
<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="236"><a href="http://www.4psmarketing.com/services/" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/button-services.png" border="0" alt="Out Services" title="Our Services" /></a></td>
<td width="240"><a href="http://www.4psmarketing.com/4ps-marketing/about-us/about-us-2/" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/button-aboutus.png" border="0" alt="About Us" title="About Us" /></a></td>
<td width="240"><a href="http://www.4psmarketing.com/4ps-marketing/clients/clients/" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/button-ourclients.png" border="0" alt="Our Clients" title="Our Clients" /></a></td>
<td width="283"><a href="http://www.4psmarketing.com/contact-us/" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/button-contactus.png" border="0" alt="Contact Us" title="Contact Us" /></a></td>
</tr>
</tbody>
</table>
<!-- End Options --></td>
</tr>
</tbody>
</table>
<!-- End Top Icon Box --></td>
</tr>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/white-bottom-corners.png" border="0" alt="*" width="1020" height="16" /></td>
</tr>
</tbody>
</table>
<!-- End Top Box --><!-- Main Box -->
<table cellpadding="4" cellspacing="2" border="0" style="width: 100%;">
<tbody>
<tr>
<td width="770" height="1633" valign="top" style="width: 770px;">
<table cellpadding="0" cellspacing="0" style="width: 973px; height: 1622px;">
<tbody>
<tr>
<td height="1620" bgcolor="#ffffff" style="padding: 8px;">
<table cellpadding="0" cellspacing="0" style="width: 973px; height: 1604px;">
<tbody>
<tr>
<td width="971" height="11"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/mainbox-top.png" border="0" alt="*" width="979" height="11" /></td>
</tr>
<tr>
<td height="1580" bgcolor="#ffffff" style="padding: 8px;"><!-- Content Goes Here -->
<table border="0" style="width: 99%;">
<tbody>
<tr>
<td width="49%" height="1560" valign="top">
<p style="text-align: left;"><span style="font-size: 18pt; color: #993300;">October 2012 Newsletter</span></p>
<p style="text-align: left;">With the '3Men1Mountain' challenge  and the preparation for our upcoming Data Debate event,  4Ps Marketing has had another busy month...</p>
<p align="left" style="text-align: left;"><a href="http://www.4psmarketing.com/blog/full-programme-confirmed-for-3-men-1-mountain-3men1mountain/" target="_blank" class="style6">3 Men, 1 Mountain:  Building a Brand in a Digital </a></p>
<p align="left" style="text-align: left;">4Ps Marketing's <em>'3-Men-1-Mountain'</em> challenge was a great success and, for all that were there, a once in a life-time trip. We want to say a big ‘Thank You’ to all who helped make it happen and to those who were brave enough to take on the challenge. </p>
<p align="left" style="text-align: left;">After indulging in a full Scottish breakfast at 7am, 5th October 2012, The intrepid team set off, absolutely determinded to reach the summit  of Ben Nevis. After four gruelling hours , they accomplished otheir goal and  were gifted with their first sight of snow this winter. The digital conference went smoothly, with 'Integrating Sales and Marketing to achieve brand objectives' by Tim Stroller from Lindt, which was followed by 'Crowd-sourcing for your brand' by Eamon Fitzgerald from Naked Wines and last but certainly not least was 'Using your personality to build a brand' by Paul Steele, Bald Hiker. </p>
<p align="left" style="text-align: left;">After a long hike down, everyone treated themselves to a well deserved pint..... or two. To see more photos, have a look at our <a href="https://www.facebook.com/4psmarketing" target="_blank">Facebook</a> page and if you are  interested in hearing more about 4Ps Marketing's events, please email <a href="mailto:Events@4PsMarketing.com" target="_blank">events@4PsMarketing.com</a><a href="mailto:Events@4PsMarketing.com"></a> or view our  events page <a href="http://www.4psmarketing.com/events/" target="_blank">here</a>.</p>
<p align="center"><img src="http://www.4psmarketing.com/wp-content/uploads/2012/10/Ben-Nevis-Girls.jpg" alt="" width="324" height="216" /></p>
<p align="left"><span style="font-size: 18pt; color: #993300;">4Ps Movers &amp; Shakers</span></p>
<h4 align="left">4Ps MarketingSales &amp; Marketing Assistant</h4>
<p align="left">4Ps Marketing  is now looking for a Sales and Marketing Assistant. We are looking for  a high calibre candidate, full of energy, commitment, initiative and enthusiasm for marketing and communications, along with a thirst for knowledge in the digital marketing industry.</p>
<p align="left"><em>Requirements</em></p>
<p align="left">- Organisational Skills</p>
<p align="left">- Enthusiastic</p>
<p align="left">- Good English and Grammar</p>
<p align="left">- Degree Level Educated</p>
<p align="left">- 1 Years Sales and Marketing Experience</p>
<p align="left">If you would like to apply or recommend someone a candidate, please email <a href="Mailto:Recruitment@4PsMarketing.com ">Recruitment@4PsMarketing.com </a><a href="../September 2012/Recruitment@4PsMarketing.com"></a></p>
<p align="left"><a href="http://www.4psmarketing.com/blog/sales-marketing-assistant/ target="_blank">Read more</a>...</p>
<h4 align="left">4Ps Marketing Expansion</h4>
<p align="left">We would like to give a big 4Ps welcome to Karl and Kit, who are the new additions to the continually growing 4Ps Marketing SEO teams.</p>
<p align="left">Karl Jenkins, who has joined us as a Senior SEO Executive,  is responsible for the day to day management of numerous B2B and B2C clients. After studying Aerospace Engineering at the University of Liverpool, Karl has gained a wealth of experience in the financial and retail sectors. Before moving to 4Ps Marketing, he spent two years working for one of the world’s leading business directories, writing and optimising websites for a range of SMEs.</p>
<p align="left">Kit joined us as an SEO Executive in September 2012, having previously worked within a media agency developing the search strategy for a number of clients. She has also completed a Masters degree in Journalism from Westminster University. At 4Ps Marketing Kit is assisting with on B2B clients and has a great interest in the business industry.</p>
<p align="left">4Ps Marketing is excited to have them both on our team!</p></td>
<td width="1%"></td>
<td width="50%" valign="top">
<p align="left"><span style="color: #993300; font-size: 18pt;">DigiNews</span></p>
<p align="left"><span style="font-size: 12pt;"><a href="http://www.4psmarketing.com/blog/facebook-introduce-want-and-collect-buttons/" target="_blank">Facebook Introduce 'Want' and 'Collect' buttons</a></span></p>
<p align="left"><strong>by Lovedeep Jassad</strong></p>
<p align="left"><em>11 October  2012</em></p>
<p align="left">On Tuesday, it was announced that Facebook would be trialling ‘want’ and ‘collect’ buttons in a ‘strategic’ push towards e-commerce. These two new buttons will work alongside the new ‘collections’ feature, which allows businesses to create online catalogues that can be browsed by Facebook users. Sound familiar? Of course it does, and who can blame Zuckerberg and co. After all, Pinterest was recently named the fastest website in history to gain 10 million members.</p>
<p align="left"><span class="style2"><a href="http://www.4psmarketing.com/blog/facebook-introduce-want-and-collect-buttons/" target="_blank">Read more</a>...</span></p>
<p align="left"><a href="http://www.4psmarketing.com/blog/resurrection-of-the-meta-tag/" target="_blank" class="style6">Resurrection of the Meta Data</a></p>
<p align="left"><strong>by Karl Jenkins</strong></p>
<p align="left"><em>1 October 2012</em></p>
<p align="left">In terms of onsite SEO, the meta tag or meta keyword had gone the way of the mighty Tyrannosaurus Rex, at least in the wonderful world of Google. Even Bing and Yahoo (you may well be asking Ya-who?) announced that even though they did index them, they had no real relevance to a site’s ranking. As Google’s share of the search pie usually sits at the 90% mark, most websites simply gave up on the meta tag. To quote Bing:</p>
<p align="left"><em>“It was abused far too much and lost most of its cachet.”</em></p>
<p align="left"><span class="style2"><a href="http://www.4psmarketing.com/blog/resurrection-of-the-meta-tag/" target="_blank">Read more</a>...</span></p>
 
<p align="left" class="style4" style="text-align: left;">&nbsp;</p>
<p align="left" class="style4" style="text-align: left;"><span style="font-size: 18pt;">Events</span></p>
<p align="left" style="text-align: left;"><a href="http://www.4psmarketing.com/blog/the-data-debate/" target="_blank" class="style6">The Data Debate</a></p>
<h4 align="left" style="text-align: left;">What Marketers can do with Data</h4>
<p align="left" style="text-align: left;">As part of our ongoing events program, 4Ps Marketing is hosting a debate on data. With so much controversy around the security of data across the internet, across social media networks, and with the introduction of the EU Privacy Directive, giving consumers protection over their information, there has been a substantial impact on what marketers can do with the data they have.</p>
<p align="left"><strong>Date:</strong> Wednesday 14th November 2012<br />
    <strong>Time</strong>: 3pm – 5pm</p>
<p align="left"><strong>Where:</strong> The IPA, 44 Belgrave Square, London, Greater London SW1X 8QS</p>
<p align="left">Drinks and nibbles will be provided, and there will be the opportunity for networking after the debate.</p>
<p align="left"><strong>Meet the Panellists: </strong></p>
<p align="left">Matt Stannard, Chief Technology Officer, 4Ps Marketing<br />
  Peter Abraham, Director, Econsultancy<br />
  David Payne, Head of Direct Marketing, IPA<br />
  Simon Rice, Principal Policy Advisor, Information Commisioner’s Office</p>
<p align="left"><strong>Agenda:</strong></p>
<p align="left"><em>Data Collection:</em> – Collecting data from your prospects – How has the EU Privacy Directive (The Cookie Law) affected this?</p>
<p align="left"><em>Social Networks </em>– Ownership and Capturing, Who are you sharing with and is the data yours?</p>
<p align="left"> <em>Data Privacy: </em>How secure is your data with an agency – and how do you know it's trustworthy?</p>
<p align="left"><strong>This Event is Free to Attend</strong></p>
<p align="left">Please sign up <a href="http://thedatadebate.eventbrite.co.uk/" target="_blank">here</a>. If you have any questions, please email us at <a href="Mailto:events@4psmarketing.com">events@4psmarketing.com</a></p>
<p align="center"><img src="http://www.4psmarketing.com/wp-content/uploads/2012/10/Data-Debate-Invitation-copy.jpg" alt="" width="316" height="226" longdesc="http://http://www.4psmarketing.com/wp-content/uploads/2012/10/Data-Debate-Invitation-copy.jpg" /></p></td>
</tr>
</tbody>
</table>
<!-- End Content --></td>
</tr>
<tr>
<td height="11"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/mainbox-bottom.png" border="0" alt="*" width="983" height="11" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top" style="text-align: left;"><!-- Side Banner Goes Here -->
<div style="text-align: left;"></div>
<!-- End Side Banner --></td>
</tr>
</tbody>
</table>
<!-- End Main Box --> <!-- Meet the Team Box -->
<table border="0" style="width: 993px; height: 172px;">
<tbody>
<tr>
<td width="111" style="padding: 4px;"><!-- Team Picture 1 -->
  <img src="http://www.4psmarketing.com/wp-content/uploads/2012/10/Kit-b+w.jpg" alt="Paul Smith" width="97" height="147" border="0" title="Paul Smith" /></td>
<td width="741" valign="top"><!-- Bubble Table -->
<table border="0" cellspacing="0" cellpadding="0" style="width: 600px;">
<tbody>
<tr>
<td width="27"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-left.png" border="0" alt="*" /></td>
<td>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="700"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-top.png" border="0" alt="*" /></td>
</tr>
<tr>

<td style="padding: 20px; background: #e4e1e2;">
<div align="left">
<p><a href="https://twitter.com/Kit_4ps" target="_blank" style="color: #a00122;">@Kit_4ps</a> Kit has joined us as an SEO Executive in September 2012, having previously worked in a media agency developing the search strategy for a number of clients.</p>
</div>
</td>
</tr>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-bottom.png" border="0" alt="*" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<br />
<table border="0" cellspacing="0" cellpadding="0" style="margin-left: 50px; width: 600px;">
<tbody>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-top.png" border="0" alt="*" /></td>
</tr>
<tr>
<td style="padding: 20px; background: #e4e1e2;"><div align="left"><a href="https://twitter.com/#!/Lauren_4ps" target="_blank" style="color: #a00122;">@Karl_4Ps</a> Karl, who has joined us as a Senior SEO Executive,  is responsible for the day to day management of numerous B2B and B2C clients. After studying Aerospace Engineering at the University of Liverpool, Karl has gained a wealth of experience in the financial and retail sectors.</div></td>
</tr>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-bottom.png" border="0" alt="*" /></td>
</tr>
</tbody>
</table>
</td>
<td width="27"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-right.png" border="0" alt="*" /></td>
</tr>
</tbody>
</table>
<!-- End Bubble Table --> <!-- Text --> <!--
                                <table border="0" width="660">
                                	<tr>
                                    	<td width="30"> </td>
                                        <td style="padding:20px">
                                        	
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td width="50"> </td>
                                        <td style="padding:20px">
                                        
                                        </td>
                                    </tr>
                                </table>	
                                --> <!-- End Text --></td>
<td width="127" style="padding: 4px;"><!-- Team Picture 2 -->
  <img src="http://www.4psmarketing.com/wp-content/uploads/2012/10/Karl-b+W.jpg" alt="Lauren Luxenburg" width="92" height="145" border="0" title="Lauren Luxenburg" /></td>
</tr>
</tbody>
</table>
<!-- End Meet the Team Box --> <br /> <!-- Contact Us Box -->
<table cellspacing="0" cellpadding="0" style="width: 976px;">
<tbody>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/black-top-circle.png" border="0" alt="*" width="976" height="15" /></td>
</tr>
<tr>
<td style="color: white; background: #060606; padding-left: 30px;">Email: <a href="mailto:marketing@4psmarketing.com" style="color: white;">Marketing@4PsMarketing.com</a> Phone: 0207 607 5650<br /> 4Ps Marketing Ltd. 6555145. United House, 39-41 North Road, Islington, London, N7 9DP<br /> If You Wish to Unsubscribe Please Click <a href="mailto:marketing@4psmarketing.com?subject=Unsubscribe" style="color: white;">Here</a></td>
</tr>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/black-bottom-circle.png" border="0" alt="*" width="976" height="14" /></td>
</tr>
</tbody>
</table>
<!-- End Contact Us Box --></td>
</tr>
</tbody>
</table>
</center>