<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css"><!--
h1
{
	font-family:Arial, Helvetica, sans-serif; color:#a00122; font-size:24px; margin-bottom:2px;
}

td
{
	font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:justify;
}
.style2 {font-weight: bold}
.style3 {
	color: #000000
}
.style4 {color: #990000}
--></style>
<title>4Ps Marketing Newsletter</title>
<center>
<table border="0">
<tbody>
<tr>
<td width="950" style="padding: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
<div align="center"><a href="http://www.4psmarketing.com/wp-content/uploads/2012/09/September12Newsletter-clients.html" target="_blank">Having trouble reading this email? View It On Your Web Browser</a><a></a></div>
</td>
</tr>
<tr>
<td align="center"><!-- Begin Top Box -->
<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="1018"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/white-top-corners.png" border="0" alt="*" width="1021" height="11" /></td>
</tr>
<tr>
<td bgcolor="#ffffff"><!-- Top Icon Box -->
<table style="width: 100%;">
<tbody>
<tr>
<td style="padding: 20px;">
<div align="center"><img src="http://www.4psmarketing.com/wp-content/uploads/2012/06/logo.png" border="0" alt="4Ps Marketing : Leading Search &amp; Social Agency" title="4Ps Marketing : Leading Search &amp; Social Agency" /></div>
</td>
<td>
<h1 style="font-family: Arial, Helvetica, sans-serif; color: #a00122; font-size: 24px; text-align: center;">Join our community</h1>
<table>
<tbody>
<tr>
<td><a href="https://plus.google.com/u/1/104849317690002131589" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-google-plus.png" border="0" alt="Google+" title="Google+" /></a></td>
<td><a href="https://www.facebook.com/4psmarketing" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-facebook.png" border="0" alt="Facebook" title="Facebook" /></a></td>
<td><a href="https://twitter.com/#!/4psmarketing " target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-twitter.png" border="0" alt="Twitter" title="Twitter" /></a></td>
<td><a href="https://www.youtube.com/4psmarketing " target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-youtube.png" border="0" alt="YouTube" title="YouTube" /></a></td>
<td><a href="http://www.4psmarketing.com/category/blog/feed/ " target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-rss.png" border="0" alt="RSS" title="RSS" /></a></td>
<td><a href="http://www.4psmarketing.com/category/blog/ " target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/logo-blog.png" border="0" alt="Blog" title="Blog" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" align="center" style="padding-left: 10px;"><!-- Options -->
<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="236"><a href="http://www.4psmarketing.com/services/" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/button-services.png" border="0" alt="Out Services" title="Our Services" /></a></td>
<td width="240"><a href="http://www.4psmarketing.com/4ps-marketing/about-us/about-us-2/" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/button-aboutus.png" border="0" alt="About Us" title="About Us" /></a></td>
<td width="240"><a href="http://www.4psmarketing.com/4ps-marketing/clients/clients/" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/button-ourclients.png" border="0" alt="Our Clients" title="Our Clients" /></a></td>
<td width="283"><a href="http://www.4psmarketing.com/contact-us/" target="_blank"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/button-contactus.png" border="0" alt="Contact Us" title="Contact Us" /></a></td>
</tr>
</tbody>
</table>
<!-- End Options --></td>
</tr>
</tbody>
</table>
<!-- End Top Icon Box --></td>
</tr>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/white-bottom-corners.png" border="0" alt="*" width="1020" height="16" /></td>
</tr>
</tbody>
</table>
<!-- End Top Box --><!-- Main Box -->
<table cellpadding="4" cellspacing="2" border="0" style="width: 100%;">
<tbody>
<tr>
<td width="770" height="1633" valign="top" style="width: 770px;">
<table cellpadding="0" cellspacing="0" style="width: 973px; height: 1622px;">
<tbody>
<tr>
<td height="1620" bgcolor="#ffffff" style="padding: 8px;">
<table cellpadding="0" cellspacing="0" style="width: 973px; height: 1604px;">
<tbody>
<tr>
<td width="971" height="11"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/mainbox-top.png" border="0" alt="*" width="979" height="11" /></td>
</tr>
<tr>
<td height="1580" bgcolor="#ffffff" style="padding: 8px;"><!-- Content Goes Here -->
<table border="0" style="width: 99%;">
<tbody>
<tr>
<td width="49%" height="1560" valign="top">
<p style="text-align: left;"><span style="font-size: 18pt; color: #993300;">September 2012 Newsletter</span></p>
<p style="text-align: left;">This has been the busiest month at 4Ps Marketing, ever. We have a few events planned in the next month, not to mention we've just opened up a new Digital Academy in Canterbury. Find out more about what's been happening below.</p>
<p align="left" style="text-align: left;"><span style="font-size: 12pt;"><a href="http://www.4psmarketing.com/blog/4ps-marketing-launch-a-digital-academy-in-canterbury/">4Ps Marketing Launch a Digital Academy in Canterbury</a></span></p>
<p style="text-align: left;">4Ps Marketing has launched a <em><a href="https://www.facebook.com/media/set/?set=a.10151103741983547.452697.16885758546&amp;type=1" target="_blank" title="The Digital Academy">Digital Academy</a>;&nbsp;</em>a new Canterbury based office with an educational focus for graduates who want to kick-start their career in the digital industry.&nbsp;&nbsp;<a href="http://www.4psmarketing.com/" target="_blank" title="4ps Marketing">4Ps Marketing</a>&nbsp;has constructed an intensive year long training course for the selected graduates where they will cover all bases of Search Engine Optimisation (SEO), Digital Advertising, PPC (pay-per-click advertising), Social Media, Analytics, general marketing and developing and implementing strategies. Daily tasks and challenges are completed with the intension of gradually introducing client workbefore coming to London for a full-time position.</p>
<p align="left" style="text-align: left;"><strong><a href="http://www.4psmarketing.com/blog/4ps-marketing-launch-a-digital-academy-in-canterbury/" target="_blank">Read More</a>...</strong></p>
<p align="center"><img src="http://www.4psmarketing.com/wp-content/uploads/2012/09/Canterbury-Image.png" border="0" width="346" height="291" style="vertical-align: middle;" /></p>
&nbsp;
<p align="left" style="text-align: left;"><span style="font-size: 12pt;"><a href="http://www.4psmarketing.com/blog/4ps-marketing-agm-2012/">4Ps Marketing AGM #4PsAGM</a></span><a href="http://www.4psmarketing.com/blog/matt-phelan-to-speak-at-popcorn/"></a></p>
<p align="left" style="text-align: left;">The 4Ps Marketing team headed down to Canterbury for our Annual General Meeting. The agency has seen massive growth over the past five years, and the Directors, Matthew Phelan and Chris Hyland, have always made an essential part of the year to inform the whole agency of the upcoming changes, and implications to individuals, and how the changes will benefit the clients.</p>
<p align="left"><strong><a href="http://www.4psmarketing.com/blog/4ps-marketing-agm-2012/" target="_blank">Read More</a>...</strong></p>
<p align="center"><img src="http://www.4psmarketing.com/wp-content/uploads/2012/09/Canterbury.jpg" border="0" title="Canterbury" width="238" height="318" style="vertical-align: middle;" /></p>
&nbsp;
<p align="left"><span style="font-size: 18pt; color: #993300;">4Ps Movers &amp; Shakers</span></p>
<h4 align="left">4Ps Marketing appoint Paul Smith as new Operations Director</h4>
<p align="left">4Ps Marketing have appointed Paul Smith as our new Operations Director. Paul brings with him over 30 years&rsquo; experience in the industry and has previously worked for Which? Magazine, the guardian and Bespoke Media. Prior to joining 4Ps Marketing he was the MD of Ctrl-Shift, a marketing consultancy company and is an expert in data-driven decision making.</p>
<p align="left"><a href="http://www.thedrum.com/news/2012/09/19/4ps-marketing-appoint-paul-smith-new-operations-director" target="_blank">Read more</a>...</p>
<h4 align="left">Communications Department Development</h4>
<p align="left">Lauren Luxenberg will be heading up the Communications Department at 4Ps Marketing as Digital Communications Manager. Her role will largely be focused around online PR and blogger outreach with both SEO and Social Media benefits. Since the <a href="http://www.4psmarketing.com/information/what-are-the-panda-and-penguin-updates/" target="_blank">Google Panda</a> update, online PR and blogs have been given significant authority, providing sustainable value and revenue. For further information about blogger outreach and PR services, contact Lauren at <a href="mailto:Lauren.Luxenberg@4PsMarketing.com" target="_blank">Lauren.Luxenberg@4PsMarketing.com</a>.</p>
</td>
<td width="1%"></td>
<td width="50%" valign="top">
<p align="left"><span style="color: #993300; font-size: 18pt;">DigiNews</span></p>
<p align="left"><span style="font-size: 12pt;"><a href="http://www.4psmarketing.com/blog/the-importance-of-campaign-planning-2/">The Importance Of Campaign Planning</a></span><a href="http://www.4psmarketing.com/blog/the-importance-of-campaign-planning-2/"></a></p>
<p align="left"><strong>by Lovedeep Jassad</strong></p>
<p align="left"><em>26th September 2012</em></p>
<p>A debate recently arose at 4Ps Marketing HQ, about campaign planning, and how vital it can be to distinguish a mediocre campaign to an excellent campaign.</p>
<p align="left"><span class="style2"><a href="http://www.4psmarketing.com/blog/the-importance-of-campaign-planning-2/" target="_blank">Read more</a>...</span></p>
<p align="left"><span style="font-size: 12pt;"><a href="http://www.thedrum.com/sponsored/2012/09/28/using-data-create-successful-strategies">Using Data to Create Successful Strategies</a></span><a href="http://www.thedrum.com/sponsored/2012/09/28/using-data-create-successful-strategies"></a></p>
<p align="left"><strong>by Jack McLaren</strong></p>
<p align="left"><em>28th September 2012</em></p>
<p style="text-align: left;">Although I have only highlighted a small number of data sources, it is important to remember that no one report tells the whole story. Be selective about the data you use, but also bear in mind that some data, when taken out of context, can paint a very different picture to the one you might expect.Strategies are not derived from data and data alone. Having insightful analysis is important, but taking the time to think about creativity and deployment of strategy is just as essential, often more so..4Ps Marketing has taken the challenge of combining data and strategy a step further. Through agency structure, we are now able to service clients in experienced and technically skilled hubs to lead client strategies across a variety of digital channels.</p>
<p align="left"><span class="style2"><a href="http://www.thedrum.com/sponsored/2012/09/28/using-data-create-successful-strategies" target="_blank">Read more</a>...</span></p>
&nbsp;
<p align="left" class="style4" style="text-align: left;"><span style="font-size: 18pt;">Events</span></p>
<p align="left" style="text-align: left;"><span style="font-size: 12pt;"><a href="http://www.4psmarketing.com/blog/full-programme-confirmed-for-3-men-1-mountain-3men1mountain/" target="_blank">Full Programme Confirmed for 3 Men, 1 Mountain</a></span></p>
<h4 align="left" style="text-align: left;">Building a Brand in a Digital World</h4>
<p align="left" style="text-align: left;"><em>Lindt Chocolate, Bald Hiker, and Naked Wines confirmed as keynote speakers for 3 Men 1 Mountain</em></p>
<p align="left" style="text-align: left;"><strong>Date: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong>5th&nbsp;October 2012<br /> <strong>Venue: &nbsp; &nbsp; &nbsp; &nbsp;</strong>Ben Nevis, Fort William, Highlands, Scotland<br /> <strong>Register</strong>: &nbsp; &nbsp;Please register for your tickets&nbsp;<a href="http://3men1mountain.eventbrite.co.uk/" target="_blank">here</a>.<br /> <strong>Cost: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><em>Free</em>&nbsp;to attend. Charitable donations are optional.<br /> <strong>Hashtag: &nbsp; &nbsp;</strong>#3Men1Mountain</p>
<h4 align="left" style="text-align: left;">Keynote speakers</h4>
<p style="text-align: left;">Tim Stoller,&nbsp;<em>Lindt Chocolate</em>- Integrating Sales and Marketing to achieve brand objectivesEamon Fitzgerald,&nbsp;<em>Naked Wines</em>&nbsp;&ndash; Crowd-sourcing for your brandPaul Steele,&nbsp;<em>Bald Hiker</em>- using your personality to build a brand&nbsp;To find out more about what is happening please click <a href="http://www.4psmarketing.com/blog/full-programme-confirmed-for-3-men-1-mountain-3men1mountain/" target="_blank">here</a>.</p>
<p align="left" style="text-align: left;"><span style="font-size: 12pt;"><a href="http://www.4psmarketing.com/blog/matt-phelan-to-speak-at-popcorn/">Matt Phelan to Speak at Popcorn</a></span></p>
<p style="text-align: left;">Our very own&nbsp;<a href="http://www.4psmarketing.com/4ps-marketing/about-us/company-profile/" target="_blank" title="Matthew Phelan">Matthew Phelan</a>&nbsp;will be speaking at an event called &lsquo;<a href="http://www.sonaa.co.uk/popcorn?searched=popcorn&amp;advsearch=oneword&amp;highlight=ajaxSearch_highlight+ajaxSearch_highlight1" target="_blank" title="Popcorn">Popcorn</a>&lsquo; on the 3rd October 2012 from 11am &ndash; 1pm.Join us at the&nbsp;<a href="http://www.aubincinema.com/" target="_blank">Aubin Cinema</a>&nbsp;in Shoreditch to learn more about the value video content brings to you online strategy.&nbsp;<a href="http://www.twitter.com/matthewphelan" target="_blank" title="Matthew Phelan">Matt</a>&nbsp;will be speaking at the event, organised by Sonaa, and you will be hearing from these two leading&nbsp;<a href="http://www.4psmarketing.com/4ps-marketing/about-us/about-us-2/" target="_blank">digital agencies</a>&nbsp;about the value such content brings to search visibility, and how to get the creative approach just right. Also talking will be the Association of Chartered Certified Accountants (ACCA) showing how filmed content has worked successfully for them.Register&nbsp;<a href="http://www.sonaa.co.uk/popcorn" target="_blank" title="Registration">here</a>.</p>
<p><img src="http://www.4psmarketing.com/wp-content/uploads/2012/09/Popcorn-2.png" border="0" width="264" height="303" style="display: block; margin-left: auto; margin-right: auto; vertical-align: middle;" /></p>
</td>
</tr>
</tbody>
</table>
<!-- End Content --></td>
</tr>
<tr>
<td height="11"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/mainbox-bottom.png" border="0" alt="*" width="983" height="11" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td valign="top" style="text-align: left;"><!-- Side Banner Goes Here -->
<div style="text-align: left;"></div>
<!-- End Side Banner --></td>
</tr>
</tbody>
</table>
<!-- End Main Box --> <!-- Meet the Team Box -->
<table border="0" style="width: 993px; height: 172px;">
<tbody>
<tr>
<td width="111" style="padding: 4px;"><!-- Team Picture 1 --> <img src="http://www.4psmarketing.com/wp-content/uploads/2012/09/Paul-pic-small.jpg" border="0" alt="Paul Smith" title="Paul Smith" width="105" /></td>
<td width="741" valign="top"><!-- Bubble Table -->
<table border="0" cellspacing="0" cellpadding="0" style="width: 600px;">
<tbody>
<tr>
<td width="27"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-left.png" border="0" alt="*" /></td>
<td>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="700"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-top.png" border="0" alt="*" /></td>
</tr>
<tr>

<td style="padding: 20px; background: #e4e1e2;">
<div align="left">
<p><a href="https://twitter.com/paulsmithme" target="_blank" style="color: #a00122;">@paulsmithme</a> Paul Smith has joined 4Ps Marketing as our Operations Director. He brings with him over 30 years&rsquo; experience in the industry. Paul is going to help 4Ps Marketing and their clients to become as efficient as possible.</p>
</div>
</td>
</tr>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-bottom.png" border="0" alt="*" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<br />
<table border="0" cellspacing="0" cellpadding="0" style="margin-left: 50px; width: 600px;">
<tbody>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-top.png" border="0" alt="*" /></td>
</tr>
<tr>
<td style="padding: 20px; background: #e4e1e2;"><a href="https://twitter.com/#!/Lauren_4ps" target="_blank" style="color: #a00122;">@Lauren_4ps</a> is our Digital Communications Manager who is responsible for our Blogger Outreach programme for our clients, establishing cruital relationships for online brand awareness.</td>
</tr>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-bottom.png" border="0" alt="*" /></td>
</tr>
</tbody>
</table>
</td>
<td width="27"><img src="http://4psmarketing.s3.amazonaws.com/newsletter/speech-bubble-right.png" border="0" alt="*" /></td>
</tr>
</tbody>
</table>
<!-- End Bubble Table --> <!-- Text --> <!--
                                <table border="0" width="660">
                                	<tr>
                                    	<td width="30"> </td>
                                        <td style="padding:20px">
                                        	
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td width="50"> </td>
                                        <td style="padding:20px">
                                        
                                        </td>
                                    </tr>
                                </table>	
                                --> <!-- End Text --></td>
<td width="127" style="padding: 4px;"><!-- Team Picture 2 --> <img src="http://www.4psmarketing.com/wp-content/uploads/2012/09/Lauren-b+w.jpg" border="0" alt="Lauren Luxenburg" title="Lauren Luxenburg" width="105" /></td>
</tr>
</tbody>
</table>
<!-- End Meet the Team Box --> <br /> <!-- Contact Us Box -->
<table cellspacing="0" cellpadding="0" style="width: 976px;">
<tbody>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/black-top-circle.png" border="0" alt="*" width="976" height="15" /></td>
</tr>
<tr>
<td style="color: white; background: #060606; padding-left: 30px;">Email: <a href="mailto:marketing@4psmarketing.com" style="color: white;">Marketing@4PsMarketing.com</a> Phone: 0207 607 5650<br /> 4Ps Marketing Ltd. 6555145. United House, 39-41 North Road, Islington, London, N7 9DP<br /> If You Wish to Unsubscribe Please Click <a href="mailto:marketing@4psmarketing.com?subject=Unsubscribe" style="color: white;">Here</a></td>
</tr>
<tr>
<td><img src="http://4psmarketing.s3.amazonaws.com/newsletter/black-bottom-circle.png" border="0" alt="*" width="976" height="14" /></td>
</tr>
</tbody>
</table>
<!-- End Contact Us Box --></td>
</tr>
</tbody>
</table>
</center>